<div class="container-fluid">
    <div class="row row-centered app-sort-bar">
        <div class="col-lg-1">
            <button class="btn btn-default" type="button" id="add-dashboard-btn">Add New</button>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group">
                <input id="search-dashboard-app" type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

    <div class="row row-centered app-listing" id="app-grid">

    </div>
</div>

<div id="add-dashboard-app-modal-content">

</div>

<script>
    var userNames = [];
    var taggedUsers = []
    var $grid, $sizer;
    $(document).ready(function () {
        $grid = $('#app-grid'), $sizer = $grid.find('.shuffle__sizer');
        renderDashboardApps();

        $('#search-dashboard-app').on('keyup change', function () {
            var val = this.value.toLowerCase();
            $grid.shuffle('shuffle', function ($el, shuffle) {

                // Only search elements in the current group
                if (shuffle.group !== 'all' && $.inArray(shuffle.group, $el.data('groups')) === -1) {
                    return false;
                }

                var text = $.trim($el.find('.app-name').text()).toLowerCase();
                return text.indexOf(val) !== -1;
            });
        });

        $("#add-dashboard-btn").on('click', function () {
            var users, locations, metrics
            var usersAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/users', function (result) {
                users = result
                userNames = []
                for (var i = users.length; i--;) {
                    userNames.push(users[i].username)
                }
            });

            var locationsAjax = $.get('/wifi/' + Cookies.get('tenantid') + '/locations/groups', function (result) {
                locations = result
            });

            var metricsAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/metrics', function (result) {
                metrics = result
            });

            $.when(usersAjax, locationsAjax, metricsAjax).done(function () {
                $.get('components/dashboard-app-modal.html', function (template) {
                            var rendered = Mustache.render(template, {
                                users: users,
                                locations: locations,
                                metrics: metrics,
                                currentuser: Cookies.get("username")
                            });
                            $('#add-dashboard-app-modal-content').html(rendered);
                            $('#add-dashboard-modal').modal();
                            $("#username-tags").tagit({
                                availableTags: userNames,
                                autocomplete: {delay: 0, minLength: 1},
                                beforeTagAdded: function (event, ui) {
                                    if (userNames.indexOf(ui.tagLabel) == -1) {
                                        return false;
                                    }
                                    if (ui.tagLabel == "not found") {
                                        return false;
                                    }
                                },
                                beforeTagRemoved: function (event, ui) {
                                    if (Cookies.get('username') == ui.tagLabel) {
                                        return false;
                                    }
                                },
                                afterTagAdded: function (event, ui) {
                                    taggedUsers.push({
                                        tenantid: parseInt(Cookies.get('tenantid')),
                                        username: ui.tagLabel
                                    });
                                },
                                afterTagRemoved: function (event, ui) {
                                    taggedUsers = taggedUsers.filter(function (returnableObjects) {
                                        return returnableObjects.username !== ui.tagLabel;
                                    });
                                }
                            });
                            var addDashboardFromValidator = $("#add-dashboard-form").validate({
                                rules: {
                                    appName: {
                                        required: true,
                                        minlength: 1
                                    }
                                }
                            });
                        }
                );
            });

            $("#add-dashboard-app-modal-content").off('click').on("click", '#btn-add-dashboard', function (event) {
                var aggregate = 'no';
                if ($('#chkAggregate').is(":checked")) {
                    aggregate = 'yes';
                }
                var payload = {
                    tenantid: parseInt(Cookies.get('tenantid')),
                    name: $('#input-dashboard-name').val(),
                    users: taggedUsers,
                    aggregate: aggregate,
                    groups: getCheckedGroups('group'),
                    metrics: getCheckedMetrices('metric'),
                }
                $.post('/dashboard/apps', JSON.stringify(payload), function (result) {
                    $('#add-dashboard-modal').modal('hide');
                    $grid.shuffle('destroy');
                    renderDashboardApps();
                });
                return false;
            });
        });

        function renderDashboardApps() {
            $.get('/dashboard/' + Cookies.get('tenantid') + '/apps/' + Cookies.get('username'), function (result) {
                $.get('components/dashboard-app.html', function (template) {
                    var rendered = Mustache.render(template, {apps: result});
                    $('#app-grid').html(rendered);
                    $grid.shuffle({
                        itemSelector: '.col-xs-6',
                        sizer: $sizer
                    });
                });
            });
        }
    });

    function getCheckedMetrices(chkboxName) {
        var checkboxes = document.getElementsByName(chkboxName);
        var checkboxesChecked = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxesChecked.push({
                    metricid: parseInt(checkboxes[i].value),
                    tenantid: parseInt(Cookies.get('tenantid'))
                });
            }
        }
        return checkboxesChecked.length > 0 ? checkboxesChecked : null;
    }

    function getCheckedGroups(chkboxName) {
        var checkboxes = document.getElementsByName(chkboxName);
        var checkboxesChecked = [];
        // loop over them all
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxesChecked.push({groupname: checkboxes[i].value});
            }
        }
        return checkboxesChecked.length > 0 ? checkboxesChecked : null;
    }
</script>