<div class="container-fluid">
    <div class="row row-centered app-sort-bar">
        <div class="col-lg-1">
            <button class="btn btn-default" type="button" id="add-dashboard-btn">Add New</button>
        </div>
        <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group">
                <input id="search-dashboard-app" type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
    </div>

    <div class="row row-centered app-listing" id="grid2">
        <!-- BOF listing block -->
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-groups='["photography"]'>
            <a href="009_cloud_app_details_initial.html">
                <div class="cloud-app-listing app-color-one">
                    <div class="app-icon">
                        <img src="img/dark-app-iconx256.jpg" class="square-element">
                    </div>
                    <div class="app-name">JAVA Web Application</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-groups='["photography3"]'>
            <a href="009_cloud_app_details_initial.html">
                <div class="cloud-app-listing app-color-one">
                    <div class="app-icon">
                        <img src="img/dark-app-iconx256.jpg" class="square-element">
                    </div>
                    <div class="app-name">Anu</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-groups='["photography3"]'>
            <a href="009_cloud_app_details_initial.html">
                <div class="cloud-app-listing app-color-one">
                    <div class="app-icon">
                        <img src="img/dark-app-iconx256.jpg" class="square-element">
                    </div>
                    <div class="app-name">JAVA Web Application</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-groups='["photography4"]'>
            <a href="009_cloud_app_details_initial.html">
                <div class="cloud-app-listing app-color-one">
                    <div class="app-icon">
                        <img src="img/dark-app-iconx256.jpg" class="square-element">
                    </div>
                    <div class="app-name">JAVA Web Application</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-groups='["photography5"]'>
            <a href="009_cloud_app_details_initial.html">
                <div class="cloud-app-listing app-color-one">
                    <div class="app-icon">
                        <img src="img/dark-app-iconx256.jpg" class="square-element">
                    </div>
                    <div class="app-name">JAVA Web Application</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-groups='["photography6"]'>
            <a href="009_cloud_app_details_initial.html">
                <div class="cloud-app-listing app-color-one">
                    <i class="fw fw-java fw-2x" data-toggle="tooltip" data-placement="right"
                       title="Java Application"></i>

                    <div class="app-icon">
                        <img src="img/dark-app-iconx256.jpg" class="square-element">
                    </div>
                    <div class="app-name">JAVA Web Application</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-groups='["photography7"]'>
            <a href="009_cloud_app_details_initial.html">
                <div class="cloud-app-listing app-color-one">
                    <div class="app-icon">
                        <img src="img/dark-app-iconx256.jpg" class="square-element">
                    </div>
                    <div class="app-name">JAVA Web Application</div>
                </div>
            </a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" data-groups='["photography8"]'>
            <a href="009_cloud_app_details_initial.html">
                <div class="cloud-app-listing app-color-one">
                    <div class="app-icon">
                        <img src="img/dark-app-iconx256.jpg" class="square-element">
                    </div>
                    <div class="app-name">JAVA Web Application</div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="modal inmodal" id="add-dashboard-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <i class="fa fa-dashboard modal-icon"></i>
                <h4 class="modal-title">Add Dashboard</h4>
                <small class="font-bold">Add wifi users and configure Access Control</small>
            </div>
            <div class="modal-body">
                <form role="form" id="add-dashboard-form">
                    <div class="form-group">
                        <label for="input-dashboard-name">Name</label>
                        <input type="text" class="form-control" id="input-dashboard-name" name="input-dashboard-name"
                               placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Icon</label>
                        <input type="file" id="exampleInputFile">

                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label>Wifi Groups</label>
                    </div>
                    <div class="checkbox">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>
                                    <input type="checkbox" id="checkboxError" value="option1">
                                    Checkbox with error
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label>
                                    <input type="checkbox" id="checkboxError" value="option1">
                                    Checkbox with error
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Metrics</label>
                    </div>
                    <div class="checkbox">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>
                                    <input type="checkbox" id="checkboxError" value="option1">
                                    Checkbox with error
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label>
                                    <input type="checkbox" id="checkboxError" value="option1">
                                    Checkbox with error
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Users</label>
                    </div>
                    <div class="checkbox">
                        <ul id="username-tags">
                        </ul>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-add-user">Add User</button>
            </div>
        </div>
    </div>
</div>


<script>
    var usernames = [];
    $(document).ready(function () {
        getTenantUsers();
        var $grid = $('#grid2'),
                $sizer = $grid.find('.shuffle__sizer');

        $grid.shuffle({
            itemSelector: '.col-xs-6',
            sizer: $sizer
        });

        $('#search-dashboard-app').on('keyup change', function () {
            var val = this.value.toLowerCase();
            $grid.shuffle('shuffle', function ($el, shuffle) {

                // Only search elements in the current group
                if (shuffle.group !== 'all' && $.inArray(shuffle.group, $el.data('groups')) === -1) {
                    return false;
                }

                var text = $.trim($el.find('.app-name').text()).toLowerCase();
                return text.indexOf(val) !== -1;
            });
        });
        $("#username-tags").tagit({
            availableTags: ["saman", "samara", "admin"],
            autocomplete: {delay: 0, minLength: 1},
            beforeTagAdded: function (event, ui) {
                if (usernames.indexOf(ui.tagLabel) == -1) {
                    return false;
                }
                if (ui.tagLabel == "not found") {
                    return false;
                }
            },
        });

        $("#add-dashboard-btn").on('click', function () {
            $('#add-dashboard-modal').modal();
            $("#username-tags").tagit({
                availableTags: usernames,
                autocomplete: {delay: 0, minLength: 1},
                beforeTagAdded: function (event, ui) {
                    if (usernames.indexOf(ui.tagLabel) == -1) {
                        return false;
                    }
                    if (ui.tagLabel == "not found") {
                        return false;
                    }
                },
            });
        });
    });

    function getTenantUsers() {
        var users;
        $.get('/dashboard/' + Cookies.get('tenantid') + '/users', function (result) {
            users = result
            for (var i = users.length; i--;) {
                usernames.push(users[i].username)
            }
        });
    }

    function getLocationGroups() {
        var locationGroups
        $.get('/dashboard/' + Cookies.get('tenantid') + '/locations/groups', function (result) {
            locationGroups = result
        });
        return locationGroups
    }

    function getDashboardMetrics(){
        var dashboardMetrics
        $.get('/dashboard/' + Cookies.get('tenantid') + '/metrics', function (result) {
            dashboardMetrics = result
        });
        return dashboardMetrics
    }
</script>