<div class="row">
    <div class="col-md-3 col-md-offset-4">
        <p align="center"> Site </p>
        <select class="form-control" id="select-wifilocation">
            {{#datagroups}}
            <option>{{.}}</option>
            {{/datagroups}}
        </select>
    </div>
    <div class="col-md-4">
        <p align="center"> Time Range </p>
        <div id="time-range-dashboard" class="pull-right">
            <i class="glyphicon glyphic on-calendar fa fa-calendar"></i>&nbsp;
            <span></span> <b class="caret"></b>
        </div>
    </div>
    <div class="col-md-1">
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" data-target="#" class="dropdown-toggle btn" data-toggle="dropdown"><i
                            class="material-icons">menu</i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><input type="checkbox" id="chk-aggregate-option" {{checkAggreate}}/>&nbsp;Aggregate
                            Locations</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="exportpdf" href="#">PDF Download</a></li>
                        <li><a id="exportCSV" href="#">CSV Download</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="dashboard-tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#overview-content" data-toggle="tab" data-id="overview">Overview</a>
        </li>
        <li><a href="#apreort-content" data-toggle="tab" data-id="apreport">AP Reports</a>
        </li>
        <li><a href="#social-content" data-toggle="tab" data-id="social-overview">Social Reports</a>
        </li>
        <!--<li><a href="#realtime-content" data-toggle="tab" data-id="realtimereport">Real Time</a>-->
        <!--</li>-->
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="overview-content">
            <div id="metrics-container">
                <div id="dashboard-metric-content" class="row">

                </div>
            </div>
        </div>
        <div class="tab-pane" id="apreort-content">
            <div id="apreport-container">
                <div id="dashboard-apreport-content" class="row">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="social-content">
            <div id="social-container">
                <div id="dashboard-social-content" class="row">
                </div>
            </div>
        </div>
        <div class="tab-pane" id="realtime-content">
            <div id="realtime-container">
                <div id="dashboard-realtime-content" class="row">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    payload = {
        from: '',
        to: '',
        prefrom: '',
        preto: '',
        criteria: window.filtercriteria,
        parameters: window.datagroups,
        acl: window.aclvalue,
        tenantid: parseInt(Cookies.get("tenantid"))
    };
    window.payload = payload;

    $(document).ready(function () {
        $.material.init();
        var selectedtabid = "overview";
        saveResult(moment().subtract(29, 'days'), moment());
        renderMetrics();
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            selectedtabid = $(this).data("id");
            if (selectedtabid == "overview") {
                renderMetrics();
            } else if (selectedtabid == "apreport") {
                renderAPreport();
            } else if (selectedtabid == "social-overview") {
                renderSocialOverview();
            } else if (selectedtabid == "realtimereport") {
                renderRealTime();
            }
        });

        $('#time-range-dashboard').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            autoApply: true
        }, function (start, end) {
            saveResult(start, end);
            if (selectedtabid == "overview") {
                renderMetrics();
            } else if (selectedtabid == "apreport") {
                renderAPreport();
            } else if (selectedtabid == "social-overview") {
                renderSocialOverview();
            } else if (selectedtabid == "realtimereport") {
                renderRealTime();
            }
        });

        function saveResult(from, to) {
            $('#time-range-dashboard span').html(from.format('YYYY - MM - DD') + ' | ' + to.format('YYYY - MM - DD'));
            payload.from = from.format('YYYY-MM-DD');
            payload.to = to.format('YYYY-MM-DD');
            var period = Math.floor(moment.duration(moment(payload.to, "YYYY-MM-DD").diff(moment(payload.from, "YYYY-MM-DD"))).asDays());
            payload.prefrom = moment(moment(payload.from).subtract(period, "days")).format('YYYY-MM-DD');
            payload.preto = moment(payload.from).subtract(1, "days").format("YYYY-MM-DD");
            window.payload = payload;
        };

        function renderRealTime() {
            $.get('components/dashboard-realtime.html', function (template) {
                var rendered = Mustache.render(template, {});
                $('#dashboard-realtime-content').html(rendered);
            })
        }

        function renderMetrics() {
            $('.widget-container').removeAttr('id');
            var userPermissions = JSON.parse(Cookies.get('userpermissions'));
            var hasDashboardCSVDownloadPermission = false;
            $.get('components/dashboard-metrics.html', function (template) {
                var rendered = Mustache.render(template, {
                    widgetid: 'widget-grid'
                });
                $('#dashboard-metric-content').html(rendered);
                $.each(userPermissions, function (key, value) {
                    if (value.name == 'csv_download') {
                        hasDashboardCSVDownloadPermission = true
                    }
                });
                if (hasDashboardCSVDownloadPermission) {
                    $("#exportCSV").show();
                } else {
                    $("#exportCSV").hide();
                }
            })

        }

        function renderSocialOverview(){
            $('.widget-container').removeAttr('id');
            $.get('components/dashboard-social.html', function (template) {
                var rendered = Mustache.render(template, {
                    widgetid: 'widget-grid'
                });
                $('#dashboard-social-content').html(rendered);
            })
        }

        function renderAPreport() {
            $('.widget-container').removeAttr('id');
            $.get('components/dashboard-apreport.html', function (template) {
                var rendered = Mustache.render(template, {
                    widgetid: 'widget-grid'
                });
                $('#dashboard-apreport-content').html(rendered);
            })
        }

        $('#select-wifilocation').on('change', function (e) {
            window.datagroups = [this.value];
            payload.parameters = window.datagroups;
            if (selectedtabid == "overview") {
                renderMetrics();
            } else if (selectedtabid == "apreport") {
                renderAPreport();
            } else if (selectedtabid == "social-overview") {
                renderSocialOverview();
            } else if (selectedtabid == "realtimereport") {
                renderRealTime();
            }
        });

        $('#chk-aggregate-option').on('change', function (e) {
            var that = this;
            var getCriteriaParameters;
            var criteriaParameters;
            var selectOptions;
            switch (window.filtercriteria) {
                case "groupname" :
                    getCriteriaParameters = $.get('/dashboard/apps/' + appId + '/groups', function (result) {
                        criteriaParameters = result;
                    });
                    break;
                case "ssid" :
                    getCriteriaParameters = $.get('/dashboard/apps/' + appId + '/filterparameters', function (result) {
                        criteriaParameters = result;
                    });
                    break;
            }
            getCriteriaParameters.done(function () {
                if (that.checked) {
                    window.aggregate = 'yes';
                    window.datagroups = criteriaParameters;
                    selectOptions = [window.appName];
                } else {
                    window.aggregate = 'no';
                    window.datagroups = [criteriaParameters[0]];
                    selectOptions = criteriaParameters;
                }
                $('#select-wifilocation').find('option').remove().end();
                $.each(selectOptions, function (key, value) {
                    $('#select-wifilocation')
                            .append($("<option></option>")
                                    .attr("value", value)
                                    .text(value));
                });
                payload.parameters = window.datagroups;
                if (selectedtabid == "overview") {
                    renderMetrics();
                } else if (selectedtabid == "apreport") {
                    renderAPreport();
                } else if (selectedtabid == "social-overview") {
                    renderSocialOverview();
                } else if (selectedtabid == "realtimereport") {
                    renderRealTime();
                }
            });
        });

    });
</script>