<div class="container-fluid container-dashboard">
    <div class="row row-centered app-sort-bar">
        <div class="col-lg-4 col-lg-offset-2">
            <div class="input-group">
                <input id="search-dashboard-app" type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-1">
            <button class="btn btn-default" type="button" id="add-dashboard-btn">Add New</button>
        </div>
    </div>

    <div class="row row-centered app-listing" id="app-grid"></div>
</div>

<div id="add-dashboard-app-modal-content"></div>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" style="text-align: center">Delete Dashboard App</h4>
            </div>
            <div class="modal-body" id="appdelete-body">
                <p id="message"><strong>Are you sure you want to delete the dashbloard?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="delete-app">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    var userNames = [], taggedUsers = [];
    var $grid, $sizer;
    var deleteAppId;



    $(document).ready(function () {


        locationsAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/users/' + Cookies.get('username'), function (result) {
            locations = result.apgroups
        });

        metricsAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/metrics', function (result) {
            metrics = result
        });


        aclTypes = $.get('/dashboard/acltypes', function (result) {
            acltypes = result
        });

        $grid = $('#app-grid'), $sizer = $grid.find('.shuffle__sizer');

        renderDashboardApps();

        $('#search-dashboard-app').on('keyup change', function () {
            var val = this.value.toLowerCase();
            $grid.shuffle('shuffle', function ($el, shuffle) {

                // Only search elements in the current group
                if (shuffle.group !== 'all' && $.inArray(shuffle.group, $el.data('groups')) === -1) {
                    return false;
                }

                var text = $.trim($el.find('.app-name').text()).toLowerCase();
                return text.indexOf(val) !== -1;
            });
        });

        $("#add-dashboard-btn").on('click', function () {
            var users, locations, metrics,acltypes;
            userPermissions = JSON.parse(Cookies.get('userpermissions'));
            hasDashboardUserReadPermission = false
            $.each(userPermissions, function (key, value) {
                if (value == 'dashboard_users') {
                    hasDashboardUserReadPermission = true
                }
            });
            if (hasDashboardUserReadPermission) {
                var usersAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/users', function (result) {
                    users = result;
                    userNames = [];
                    for (var i = users.length; i--;) {
                        userNames.push(users[i].username)
                    }
                });
            } else {
                usersAjax = true
                userNames.push(Cookies.get('username'))
            }

            var locationsAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/users/' + Cookies.get('username'), function (result) {
                locations = result.apgroups
                console.log(locations);
            });

            var metricsAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/metrics', function (result) {
                metrics = result
            });


            var aclTypes = $.get('/dashboard/acltypes', function (result) {
                console.log(result);
                acltypes = result
            });

            var addDashboardFromValidator;
            $.when(usersAjax, locationsAjax, metricsAjax ,aclTypes).done(function () {
                $.get('components/dashboard-app-modal.html', function (template) {
                            var rendered = Mustache.render(template, {
                                users: users,
                                locations: locations,
                                metrics: metrics,
                                currentuser: Cookies.get("username"),
                                acltypes:acltypes
                            });
                            $('#add-dashboard-app-modal-content').html(rendered);
                            $('#add-dashboard-modal').modal();
                            $("#username-tags").tagit({
                                availableTags: userNames,
                                autocomplete: {delay: 0, minLength: 1},
                                beforeTagAdded: function (event, ui) {
                                    if (userNames.indexOf(ui.tagLabel) == -1) {
                                        return false;
                                    }
                                    if (ui.tagLabel == "not found") {
                                        return false;
                                    }
                                },
                                beforeTagRemoved: function (event, ui) {
                                    if (Cookies.get('username') == ui.tagLabel) {
                                        return false;
                                    }
                                },
                                afterTagAdded: function (event, ui) {
                                    taggedUsers.push({
                                        tenantid: parseInt(Cookies.get('tenantid')),
                                        username: ui.tagLabel
                                    });
                                },
                                afterTagRemoved: function (event, ui) {
                                    taggedUsers = taggedUsers.filter(function (returnableObjects) {
                                        return returnableObjects.username !== ui.tagLabel;
                                    });
                                }
                            });
                            addDashboardFromValidator = $("#add-dashboard-form").validate({
                                rules: {
                                    appName: {
                                        required: true,
                                        minlength: 1
                                    }
                                }
                            });
                        }
                );
            });

            $("#add-dashboard-app-modal-content").off('click').on("click", '#btn-add-dashboard', function (event) {
                if (addDashboardFromValidator.valid()) {
                    var aggregate = 'no';
                    if ($('#chkAggregate').is(":checked")) {
                        aggregate = 'yes';
                    }
                    var payload = {
                        tenantid: parseInt(Cookies.get('tenantid')),
                        name: $('#input-dashboard-name').val(),
                        users: taggedUsers,
                        aggregate: aggregate,
                        groups: getCheckedGroups('group'),
                        metrics: getCheckedMetrices('metric'),
                        acls: $('.acltypes-radio:checked').val()
                    };
                    console.log("name : "+payload.name);
                    console.log("acl : "+payload.acls);
                    $("#adddbmodal-body").loadingOverlay({
                        loadingText: 'Creating '+payload.name+' Dashboard'
                    });
                    $.post('/dashboard/apps', JSON.stringify(payload), function (result) {
                        setTimeout(function(){
                            $("#adddbmodal-body").loadingOverlay('remove');
                            $('#add-dashboard-modal').modal('hide');
                            $grid.shuffle('destroy');
                            renderDashboardApps();
                        },2000);
                    });
                }
                return false;
            });
        });

        function renderDashboardApps() {
            $.get('/dashboard/' + Cookies.get('tenantid') + '/apps/' + Cookies.get('username'), function (result) {
                $.get('components/dashboard-app.html', function (template) {
                    var rendered = Mustache.render(template, {apps: result});
                    $('#app-grid').html(rendered);
                    $grid.shuffle({
                        itemSelector: '.col-xs-6',
                        sizer: $sizer
                    });
                });
            });
        }

        $('#app-grid').on('click', '.app-anchor', function (event) {
            event.preventDefault();
            var appName = $(this).attr('data-appname');
            var appId = $(this).attr('data-appid');
            var aggregate = $(this).attr('data-aggregation');
            window.aggregate = aggregate
            datagroups = [];
            $.get('components/dashboard.html', function (template) {
                        $.get('/dashboard/apps/' + appId + '/groups', function (result) {
                            datagroups = []
                            $.each(result, function (index, element) {
                                datagroups.push(element.groupname)
                            });
                            window.appId = appId
                            window.appName = appName
                            window.datagroups = datagroups
                            window.originaldatagroups = datagroups
                            var rendered
                            if (aggregate == 'yes') {
                                rendered = Mustache.render(template, {appId: appId, datagroups: appName});
                            }else{
                                window.appName = datagroups[0]
                                rendered = Mustache.render(template, {appId: appId, datagroups: datagroups});
                            }
                            $grid.shuffle('destroy')
                            $('.container-dashboard').remove('#app-grid')
                            $('.container-dashboard').html(rendered);
                        });
                        $.get('/dashboard/apps/' + appId + '/acl', function (result) {
                            window.aclvalue = result;
                        });
                    }
            );
        });

        $('#delete-app').on("click", function (event) {
            $.ajax({
                url: '/dashboard/' + Cookies.get('tenantid') + '/apps/' + deleteAppId,
                type: 'DELETE',
                beforeSend:function(){
                    $("#appdelete-body").loadingOverlay({
                        loadingText: 'Deleting Dashboad Appgi'
                    });
                },
                success: function (result) {
                    setTimeout(function(){
                        $("#appdelete-body").loadingOverlay('remove');
                        $('#confirm-delete-modal').modal('hide');
                        $grid.shuffle('destroy');
                        renderDashboardApps();
                    },2000);
                },
                error: function (e) {
                    console.log(e)
                }
            });
        });
    });

    function deleteApp(event) {
        deleteAppId = $(event).data('appid');
        $('#confirm-delete-modal').modal();
    }

    function dashboardSettings(event){
        var users, locations, metrics,acltypes;
        var groupsofAppID,usersOfAppID,metricsOfAppID,aclofAppID;

        var selectedAppIdForSettings = $(event).data('appid');
        var appName = $(event).data('appname');

        // get app details by id
        var appGroupsByID = $.get('/dashboard/apps/' + selectedAppIdForSettings + '/groups', function (result) {
            groupsofAppID=result;
        });
        var appUsersByID = $.get('/dashboard/apps/' + selectedAppIdForSettings + '/users', function (result) {
            usersOfAppID=result;
        });
        var appMetricsByID = $.get('/dashboard/apps/' + selectedAppIdForSettings + '/metrics', function (result) {
            metricsOfAppID=result;
        });
        var appAclsByID = $.get('/dashboard/apps/' + selectedAppIdForSettings + '/acl', function (result) {
            aclofAppID=result;
        });

        var locationsAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/users/' + Cookies.get('username'), function (result) {
            locations = result.apgroups
        });

        var metricsAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/metrics', function (result) {
            metrics = result
        });

        var aclTypes = $.get('/dashboard/acltypes', function (result) {
            acltypes = result
        });

        userPermissions = JSON.parse(Cookies.get('userpermissions'));
        hasDashboardUserReadPermission = false
        $.each(userPermissions, function (key, value) {
            if (value == 'dashboard_users') {
                hasDashboardUserReadPermission = true
            }
        });
        if (hasDashboardUserReadPermission) {
            var usersAjax = $.get('/dashboard/' + Cookies.get('tenantid') + '/users', function (result) {
                users = result;
                userNames = [];
                for (var i = users.length; i--;) {
                    userNames.push(users[i].username)
                }
            });
        } else {
            usersAjax = true
            userNames.push(Cookies.get('username'))
        }

        var updateDashboardFromValidator;
        $.when(usersAjax, locationsAjax, metricsAjax ,aclTypes, appAclsByID,appGroupsByID,appMetricsByID,appUsersByID).done(function () {
            $.get('components/dashboard-settings-modal.html', function (template) {
                        var rendered = Mustache.render(template, {
                            appname:appName,
                            users: users,
                            locations: locations,
                            metrics: metrics,
                            currentuser: Cookies.get("username"),
                            acltypes:acltypes,
                            checkedGroups : function() {
                                var checkibilty;
                                for(var index in groupsofAppID){
                                    var groupname = groupsofAppID[index].groupname;
                                    if(this.toString()==groupname){
                                        checkibilty = 'checked';
                                        break;
                                    }else{
                                        checkibilty = 'unchecked';
                                    }
                                }
                                return checkibilty;
                            },
                            checkedACL : function() {
                                var checkibilty;
                                var acl = aclofAppID;
                                if(this.toString()==acl){
                                    checkibilty = 'checked';
                                    return checkibilty;
                                }
                            },
                        });

                        $('#add-dashboard-app-modal-content').html(rendered);
                        $('#settings-dashboard-modal').modal();
                        $("#username-tags").tagit({
                            availableTags: userNames,
                            autocomplete: {delay: 0, minLength: 1},
                            beforeTagAdded: function (event, ui) {
                                if (userNames.indexOf(ui.tagLabel) == -1) {
                                    return false;
                                }
                                if (ui.tagLabel == "not found") {
                                    return false;
                                }
                            },
                            beforeTagRemoved: function (event, ui) {
                                if (Cookies.get('username') == ui.tagLabel) {
                                    return false;
                                }
                            },
                            afterTagAdded: function (event, ui) {
                                taggedUsers.push({
                                    tenantid: parseInt(Cookies.get('tenantid')),
                                    username: ui.tagLabel
                                });
                            },
                            afterTagRemoved: function (event, ui) {
                                taggedUsers = taggedUsers.filter(function (returnableObjects) {
                                    return returnableObjects.username !== ui.tagLabel;
                                });
                            },

                        });
                        updateDashboardFromValidator = $("#add-dashboard-form").validate({
                            rules: {
                                appName: {
                                    required: true,
                                    minlength: 1
                                }
                            }
                        });
                    }
            );
        });

        $("#add-dashboard-app-modal-content").off('click').on("click", '#update-sett-dashboard', function (event) {
            if (updateDashboardFromValidator.valid()) {
                var aggregate = 'no';
                if ($('#update-chkAggregate').is(":checked")) {
                    aggregate = 'yes';
                }
                var payload = {
                    appid:selectedAppIdForSettings,
                    users: taggedUsers,
                    aggregate: aggregate,
                    groups: getCheckedGroups('group'),
                    metrics: getCheckedMetrices('metric'),
                    acls: $('.update-acltypes-radio:checked').val()
                };
                $.ajax({
                    url: '/dashboard/apps',
                    type: 'PUT',
                    contentType: "application/json",
                    data: JSON.stringify(payload),
                    beforeSend:function(){
                        $("#settingsdbmodal-body").loadingOverlay({
                            loadingText: 'Updating App Settings'
                        });
                    },
                    success: function (result) {
                        $("#settingsdbmodal-body").loadingOverlay('remove');
                        $('#settings-dashboard-modal').modal('hide');
                        $grid.shuffle('destroy');
                        renderDashboardApps();
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            }
            return false;
        });
    }

    function getCheckedMetrices(chkboxName) {
        var checkboxes = document.getElementsByName(chkboxName);
        var checkboxesChecked = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxesChecked.push({
                    metricid: parseInt(checkboxes[i].value),
                    tenantid: parseInt(Cookies.get('tenantid'))
                });
            }
        }
        return checkboxesChecked.length > 0 ? checkboxesChecked : null;
    }

    function getCheckedGroups(chkboxName) {
        var checkboxes = document.getElementsByName(chkboxName);
        var checkboxesChecked = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxesChecked.push({groupname: checkboxes[i].value});
            }
        }
        return checkboxesChecked.length > 0 ? checkboxesChecked : null;
    }

</script>