<div class="container-fluid">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Dashboard user table</h5>

            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#" id="add-user-opt">Add User</a></li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <table class="table table-striped table-bordered table-hover dataTables-user">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Acct Status</th>
                    <th>Settings</th>
                </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" style="text-align: center">Delete User</h4>
            </div>
            <div class="modal-body" id="dbuserdelete-body">
                <p id="message"><strong>Are you sure you want to delete the user?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="btn-delete-user">Yes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="adduser-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <i class="fa fa-user-md modal-icon"></i>
                <h4 class="modal-title">Add User</h4>
                <small class="font-bold">Add system users and assign privileges</small>
            </div>
            <div class="modal-body" id="dbadduser-body">
                <form role="form" id="adduser-form">
                    <div class="form-group">
                        <label for="inputTenantDomain">Tenant Domain</label>
                        <input type="text" class="form-control" id="inputTenantDomain" name="tenantdomain"
                               value="{{tenantDomain}}" required readonly>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="inputUsername">Username</label>
                            <input type="text" class="form-control" id="inputUsername" name="username"
                                   placeholder="Username" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="inputEmail">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" id="inputPassword" name="password"
                                   placeholder="Password"  required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="inputPassword">Confirm Password</label>
                            <input type="password" class="form-control" id="inputConfirmPassword" name="confirmpassword"
                                   placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Allowed Data Scopes</label>

                        <div class="checkbox">
                            <div class="row">
                                {{#groups}}
                                <div class="col-sm-6">
                                    <label>
                                        <input type="checkbox" name="datascope" data-value="{{.}}">{{.}}
                                    </label>
                                </div>
                                {{/groups}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="userscopesinputpanel">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" parent="#accordion" data- href="#collapse-userscopes" aria-expanded="false" aria-controls="collapse-userscopes">
                                        Allowed User Scopes
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-userscopes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="userscopesinputpanel">
                                <div class="panel-body">
                                    <div class="checkbox">
                                        <div class="row">
                                            {{#userscopes}}
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <label>{{name}}</label>
                                                    </div>
                                                    {{#actions}}
                                                    <div class="col-sm-2">
                                                        <label>
                                                            <input type="checkbox" name="userscope" data-action="{{action}}" data-name="{{name}}"value="{{action}}">{{action}}
                                                        </label>
                                                    </div>
                                                    {{/actions}}
                                                </div>
                                            </div>
                                            {{/userscopes}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Allowed SSIDS</label>
                    </div>
                    <div class="checkbox">
                        <ul id="ssid-tags">
                        </ul>
                    </div>
                    <br/>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="chkIsActive"> Activate
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-add-user">Add User</button>
            </div>
        </div>
    </div>
</div>

<div id="userupdate-modal-content"></div>

<script src="js/plugins/validate/jquery.validate.min.js"></script>

<script>
    $(document).ready(function () {
        var serverOriginUrl = window.location.origin;
        var userTable = $('.dataTables-user').DataTable({
            orderCellsTop: true,
            ajax: {
                "url": serverOriginUrl + "/dashboard/" + Cookies.get("tenantid") + "/users",
                "type": "GET",
                "dataSrc": function (d) {
                    return d
                }
            },
            columns: [
                {"data": "username", "width": "15%"},
                {"data": "email", "width": "10%"},
                {"data": "status", "width": "5%"},
                {
                    "data": null,
                    "render": function( data, type, full, meta ) {
                        var admindeletepermission = checkAdminDeletePermission(full.permissions);
                        var content = " <div class='btn-group'><button class='btn btn-white btn-xs dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><i class='fa fa-gear'></i></button><ul class='dropdown-menu'><li><a href='#' id='setting-edit-user'>Edit</a></li><li><a href='#' id='setting-change-password'>Change Password</a></li>";
                        if(!admindeletepermission){
                           content += "<li><a href='#' id='setting-delete-user'>Delete</a></li>"
                        }
                        content += "</ul></div>";
                        return content;
                    },
                    "width": "1%",
                    "className": 'center'
                },
            ],
            dom: 'T<"clear">lfrtip',
            tableTools: {
                "sSwfPath": "js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
            }
        });

        // serverside validation for dashboard user name
        $.validator.addMethod("checkUsername",
                function(value, element) {
                    var result = false;
                    $.ajax({
                        type:"GET",
                        async: false,
                        url: serverOriginUrl + "/dashboard/checkuser/"+value,
                        success: function(checkuser) {
                            result = (checkuser == 1) ? false : true;
                        }
                    });
                    return result;
                },
                "Username Already Exists."
        );

        var adduserFromValidator = $("#adduser-form").validate({
            rules: {
                password: {
                    required: true,
                    minlength: 5
                },
                confirmpassword: {
                    required: true,
                    equalTo: "#inputPassword",
                    minlength: 5
                },
                username: {
                    required: true,
                    minlength: 3,
                    checkUsername:true
                },
                email: {
                    required: true,
                    email: true
                }
            }
        });

        $('.dataTables-user tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                userTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        var selectedUser, rawTodelete;
        $('#btn-delete-user').on("click", function (event) {
            $.ajax({
                url: '/dashboard/' + Cookies.get('tenantid') + '/users/' + selectedUser.username,
                type: 'DELETE',
                beforeSend: function () {
                    $("#dbuserdelete-body").loadingOverlay({
                        loadingText: 'Deleting Dashboard User'
                    });
                },
                success: function (result) {
                    $("#dbuserdelete-body").loadingOverlay('remove');
                    $('#confirm-delete-modal').modal('hide');
                    rawTodelete.remove();
                },
                error: function (e) {
                }
            });
            return false;
        });

        $('.dataTables-user tbody').on('click', '#setting-delete-user', function () {
            rawTodelete = $(this).closest('tr');
            selectedUser = userTable.row($(this).parents('tr')).data();
            $('#confirm-delete-modal').modal()
            $('#message').html('<i class="fa fa-warning fa-3x" style="vertical-align: middle;margin-right: 10%"></i>Are you sure you want to delete the user? <strong>' + selectedUser.username + '</strong>');
        });

        $('.dataTables-user tbody').on('click', '#setting-edit-user', function () {
            //  Get all exists dashboard user information
            var dashboardUserInfo;
            selectedUser = userTable.row($(this).parents('tr')).data();
            var getallDashBoraduserInfo = $.get('/dashboard/' + Cookies.get('tenantid') + '/users/' + selectedUser.username, function (result) {
                dashboardUserInfo = result
            });

            $.when(getallDashBoraduserInfo).done(function () {
                $('#edituser-form')[0].reset();
                $("#inputEditUsername").val(dashboardUserInfo.username);
                $("#inputEditEmail").val(dashboardUserInfo.email);
                if (dashboardUserInfo.status == 'active') {
                    $("#chkEditIsActive").prop('checked', true);
                } else {
                    $("#chkEditIsActive").prop('checked', false);
                }
                checkinEnableUserPermissions("input[name='userscopeedit']",dashboardUserInfo.permissions);
                checkinEnableAppGroups("input[name='datascopeedit']",dashboardUserInfo.apgroups);
                $("#edit-ssid-tags").tagit({
                    autocomplete: {delay: 0, minLength: 1, allowSpaces : true}
                });
                $("#edit-ssid-tags").tagit("removeAll");
                dashboardUserInfo.ssids.forEach(function (ssid) {
                    $("#edit-ssid-tags").tagit("createTag", ssid);
                });
                $('#update-user-modal').modal();
            })
        });

        $("#userupdate-modal-content").off('click').on("click", '#btn-edit-user', function (event) {
            if ($("#edituser-form").valid()) {
                var newUserStatus = 'pending';
                if ($('#chkEditIsActive').is(":checked")) {
                    newUserStatus = 'active';
                }
                var payload = {
                    tenantid: parseInt(Cookies.get('tenantid')),
                    username: $('#inputEditUsername').val(),
                    email: $('#inputEditEmail').val(),
                    status: newUserStatus,
                    apgroups: getCheckedDataScopes("input[name='datascopeedit']"),
                    ssids: $('#edit-ssid-tags').tagit('assignedTags'),
                    permissions: getCheckedUserPermissions("input[name='userscopeedit']")
                };
                $.ajax({
                    url: '/dashboard/users',
                    type: 'PUT',
                    contentType: "application/json",
                    data: JSON.stringify(payload),
                    beforeSend: function () {
                        $("#dbedituser-body").loadingOverlay({
                            loadingText: 'Updating Dashboard user'
                        });
                    },
                    success: function (result) {
                        $("#dbedituser-body").loadingOverlay('remove');
                        $('#update-user-modal').modal('hide');
                        userTable.ajax.reload();
                    },
                    error: function (e) {
                    }
                });
            }
            return false;
        });

        $('body').on('click', '#add-user-opt', function () {
            $('#adduser-form').trigger('reset');
            adduserFromValidator.resetForm();
            $('#adduser-modal').modal()
        });

        $('#btn-add-user').on("click", function (event) {
            if ($("#adduser-form").valid()) {
                var newUserStatus = 'pending';
                if ($('#chkIsActive').is(":checked")) {
                    newUserStatus = 'active';
                }
                var payload = {
                    tenantid: parseInt(Cookies.get('tenantid')),
                    username: $('#inputUsername').val(),
                    password: $('#inputPassword').val(),
                    email: $('#inputEmail').val(),
                    status: newUserStatus,
                    apgroups: getCheckedDataScopes("input[name='datascope']"),
                    ssids: $('#ssid-tags').tagit('assignedTags'),
                    permissions: getCheckedUserPermissions("input[name='userscope']"),
                    roles: getCheckedDataScopes('role')
                };
                $("#dbadduser-body").loadingOverlay({
                    loadingText: 'Creating Dashboard User'
                });
                $.post('/dashboard/users', JSON.stringify(payload), function (result) {
                            $("#dbadduser-body").loadingOverlay('remove');
                            $('#adduser-modal').modal('hide');
                            userTable.ajax.reload();
                });
            }
            return false;
        });

        $("#ssid-tags").tagit({
            autocomplete: {delay: 0, minLength: 1, allowSpaces: true}
        });

    });

    function checkinEnableUserPermissions(chkboxName,checkedPermissions){
        var checkboxes =  $(chkboxName);
        for (var i = 0; i < checkboxes.length; i++) {
            var name = $(checkboxes[i]).data('name')
            var action = $(checkboxes[i]).data('action')
            for ( var index in checkedPermissions){
                if(name == checkedPermissions[index].name && action == checkedPermissions[index].action){
                    $(checkboxes[i]).prop('checked', true);
                }
            }
        }
    }

    function  checkinEnableAppGroups(chkboxName,checkedAppGroups){
        var checkboxes =  $(chkboxName);
        for (var i = 0; i < checkboxes.length; i++) {
            var value = $(checkboxes[i]).data('value')
            for ( var index in checkedAppGroups){
                if(value == checkedAppGroups[index]){
                    $(checkboxes[i]).prop('checked', true);
                }
            }
        }
    }

    function getCheckedUserPermissions(chkboxName) {
        var checkboxes =  $(chkboxName);
        var checkboxesChecked = [];
        for (var i = 0; i < checkboxes.length; i++) {
            var permissionObj={}
            if (checkboxes[i].checked) {
                permissionObj.name = $(checkboxes[i]).data('name')
                permissionObj.action = $(checkboxes[i]).data('action')
                checkboxesChecked.push(permissionObj);
            }
        }
        return checkboxesChecked.length > 0 ? checkboxesChecked : [];
    }

    function getCheckedDataScopes(chkboxName) {
        var checkboxes =  $(chkboxName);
        var checkboxesChecked = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkboxesChecked.push($(checkboxes[i]).data('value'));
            }
        }
        return checkboxesChecked.length > 0 ? checkboxesChecked : [];
    }

    function checkAdminDeletePermission(permissions){
        var adminDeletePermission = false;
        $.each(permissions, function (key, value) {
            if (value.name == 'admin') {
                adminDeletePermission = true
            }
        });
        return adminDeletePermission;
    }
</script>