<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div id="time-series">
                    <div class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-downloads">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-uploads">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-totalusers">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-avgdatausageperuser">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-avgsessiontime">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-totalsessioncount">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">

    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" id="metric-usercountover1MB">
                    <div class="ibox-title">
                        <span class="label label-{{{style}}} pull-right">Today</span>
                        <h5></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="sk-spinner sk-spinner-three-bounce">
                            <div class="sk-bounce1"></div>
                            <div class="sk-bounce2"></div>
                            <div class="sk-bounce3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins" id="metric-returningusers">
                    <div class="ibox-title">
                        <span class="label label-{{{style}}} pull-right">Today</span>
                        <h5></h5>
                    </div>
                    <div class="ibox-content">
                        <div class="sk-spinner sk-spinner-three-bounce">
                            <div class="sk-bounce1"></div>
                            <div class="sk-bounce2"></div>
                            <div class="sk-bounce3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-usersbyos">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox float-e-margins" id="metric-usersbydevicetype">
                <div class="ibox-title">
                    <span class="label label-{{{style}}} pull-right">Today</span>
                    <h5></h5>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-three-bounce">
                        <div class="sk-bounce1"></div>
                        <div class="sk-bounce2"></div>
                        <div class="sk-bounce3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(
        function () {
            var payload = {from:from_, to :to_, locationid:window.wifilocation}
            window.payload  = payload
            var totaldownloads = 0, totaluploads = 0, uniqueuserscount = 0

            var renderTotalDownloads = $.post('/wifi/usage/downloads',JSON.stringify(payload),function(data,status){
                                            totaldownloads = data
                                            $.get('components/metric-base.html', function (template) {
                                                var rendered = Mustache.render(template, {caption:'Total Downloads', value: numeral(data).format('0.00b'), titlecolor : '#12A6A8'});
                                                $('#metric-downloads').html(rendered)
                                            })
                                        });

            var renderTotalUploads = $.post('/wifi/usage/uploads',JSON.stringify(payload),function(data,status){
                                            totaluploads = data
                                            $.get('components/metric-base.html', function (template) {
                                                var rendered = Mustache.render(template, {caption:'Total Uploads', value : numeral(data).format('0.00b'), titlecolor : '#12A6A8'});
                                                $('#metric-uploads').html(rendered)
                                            })
                                        });

            var renderTotalUserCount = $.post('/wifi/users/count',JSON.stringify(payload),function(data,status){
                                            uniqueuserscount = (data === 0 ? 1 : data);
                                            $.get('components/metric-base.html', function (template) {
                                                var rendered = Mustache.render(template, {caption:'Total Users', value : data, titlecolor : '#12A6A8'});
                                                $('#metric-totalusers').html(rendered)
                                            })
                                        });

            $.post('/wifi/users/returncount',JSON.stringify(payload),function(data,status){
                $.get('components/metric-base.html', function (template) {
                    var rendered = Mustache.render(template, {caption:'Returning Users', value : data, titlecolor : '#12A6A8'});
                    $('#metric-returningusers').html(rendered)
                })
            });

            $.post('/wifi/sessions/avg',JSON.stringify(payload),function(data,status){
                $.get('components/metric-base.html', function (template) {
                    var rendered = Mustache.render(template, {caption:'Avg User session time', value :  numeral(data).format('00:00:00'), titlecolor : '#12A6A8'});
                    $('#metric-avgsessiontime').html(rendered)
                })
            });

            $.post('/wifi/sessions/count',JSON.stringify(payload),function(data,status){
                $.get('components/metric-base.html', function (template) {
                    var rendered = Mustache.render(template, {caption:'Total Sessions', value : data, titlecolor : '#12A6A8'});
                    $('#metric-totalsessioncount').html(rendered)
                })
            });

            $.post('/wifi/users/countbydownlods/1000000',JSON.stringify(payload),function(data,status){
                $.get('components/metric-base.html', function (template) {
                    var rendered = Mustache.render(template, {caption:'Unique Users (>1MB)', value : data, titlecolor : '#12A6A8'});
                    $('#metric-usercountover1MB').html(rendered)
                })
            });

            $.when(renderTotalDownloads,renderTotalUploads,renderTotalUserCount).done(function(){
                        $.get('components/metric-base.html', function (template) {
                            var rendered = Mustache.render(template, {caption:'Avg Data Usage per User', value :numeral((totaldownloads + totaluploads)/uniqueuserscount).format('0.00b'), titlecolor : '#12A6A8'});
                            $('#metric-avgdatausageperuser').html(rendered)
                        })
                    });

            $.post('/wifi/users/bydeviceos',JSON.stringify(payload),function(data,status){
                $.get('components/metric-piechart-base.html', function (template) {
                    var rendered = Mustache.render(template, {id: 0, caption:'Users by OS',  style: 'success', data :JSON.stringify(getChartData(data)), titlecolor : '#2F4050'});
                    $('#metric-usersbyos').html(rendered)
                })
            });

            $.post('/wifi/users/bydevicetype',JSON.stringify(payload),function(data,status){
                $.get('components/metric-piechart-base.html', function (template) {
                    var rendered = Mustache.render(template, {id: 1, caption:'Users by Device Type', style: 'success', data : JSON.stringify(getChartData(data)), titlecolor : '#2F4050' })
                    $('#metric-usersbydevicetype').html(rendered)
                })
            });

            timeSeriesData = []
            $.each(window.wifilocationlist, function(i,val){
                var payload2 = payload
                payload2.locationid = val.locationid
                $.post('/wifi/usage/dailytotaldownloads',JSON.stringify(payload2),function(data,status){
                    var locationDist = { type: 'spline', name: val.locationname, data: convertToHighChartSeries(data)}
                    timeSeriesData.push(locationDist);
                });
            });
            $.post('/wifi/usage/dailytotaldownloads',JSON.stringify(payload),function(data,status){
                  $.get('components/metric-timeserieschart-base.html', function (template) {
                    var rendered = Mustache.render(template, {id: 1, caption:'Users by Device Type', style: 'success', data : JSON.stringify(timeSeriesData)})
                    $('#time-series').html(rendered)
                })
            });

            function convertToHighChartSeries(arr){
                return data = $.map(arr, function(val,i){
                    return [[moment(val.name,'YYYY-M-D H:m:s').valueOf(), val.value/1000000]];
                });
                return data;
            }

            function getChartData(data){
                var chartData = $.map( data, function( obj,i){
                    return [[ obj.name, obj.value]];
                });
                return chartData;
            }

        }
    );

</script>