<div class="row" style="margin-top: 20px ">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Access Point Report</h5>

                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table id="accesspoint" class="table table-striped table-bordered table-hover dataTables-accesspoint">
                    <thead>
                    <tr>
                        <th>AP mac</th>
                        <th>AP Name</th>
                        <th>Total Uploads</th>
                        <th>Total Downloads</th>
                        <th>Total Sessions</th>
                        <th>Total Users</th>
                        <th>Avg Data Usage per User</th>
                        <th>Avg User session time</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row" id="map-body">
    <div class="col-lg-12">
        <section id="widget-grid" class="map-containner">
            <div class="row">
                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jarviswidget" id="wid-id-map" data-widget-refresh="2000" data-widget-colorbutton="false">
                        <header>
                            <h2>Location Map</h2>
                        </header>
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                                <input class="form-control" type="text">
                                <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body">
                                <div id="map"></div>
                            </div>
                            <!-- end widget content -->
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {

        var map,heatmap;
        var apDataArray= [];
        var longlatDataArray= [];
        var heatmapDownloadDimesionData = [];
        var heatmapUploadDimesionData = [];
        var allMarkers = [];
        var infoBoxes = [];

        var serverOriginUrl = window.location.origin;
        var payload = {
            from: from_,
            to: to_,
            acl: window.aclvalue,
            criteria : window.filtercriteria,
            parameters: window.datagroups,
            tenantid: parseInt(Cookies.get("tenantid"))
        };


        function formatBytes(bytes) {
            return  numeral(bytes).format('0.00b')
        }
        function formatIntoMinitue(time) {
            return  Math.floor(time / 60) + " Min";
        }

        var accespointTable = $('.dataTables-accesspoint').DataTable({
            responsive: true,
            orderCellsTop: true,
            autoWidth: false,
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "ajax": {
                "url": serverOriginUrl +"/wifi/summary/accespoint",
                "type": "POST",
                "contentType": "application/json",
                "data": function(d){
                    return  JSON.stringify(payload);
                },
                "error": function (e) {
                },
                "dataSrc": function (d) {
                    formatAPData(d);
                    initMap();
                    return apDataArray;
                }
            },
            columns: [
                {"data": "calledstationmac", "width": "10%"},
                {"data": "apname", "width": "10%"},
                {"data": "totalinputoctets", "width": "8%"},
                {"data": "totaloutputoctets", "width": "8%"},
                {"data": "totalsessions", "width": "5%"},
                {"data": "totalusers", "width": "5%"},
                {"data": "avgdataperuser", "width": "8%"},
                {"data": "avgdatapersessiontime", "width": "8%"}
            ],
            "columnDefs": [
                {
                    "render": function ( data ) {
                        return formatBytes(data);
                    },
                    "targets": 2
                },
                {
                    "render": function ( data ) {
                        return formatBytes(data);
                    },
                    "targets": 3
                },
                {
                    "render": function ( data ) {
                        return formatBytes(data);
                    },
                    "targets": 6
                },
                {
                    "render": function ( data ) {
                        return formatIntoMinitue(data);
                    },
                    "targets": 7
                }
            ],
            dom: "<'dt-toolbar'<'col-xs-12 col-sm-6'lf><'col-sm-6 col-xs-6 hidden-xs'CT>r>" +
            "t" +
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            tableTools: {
                "aButtons": [
                    {
                        "sExtends": "copy",
                        "sButtonText": "Copy",
                        "mColumns": "visible"
                    },
                    {
                        "sExtends": "csv",
                        "sButtonText": "CSV",
                        "mColumns": "visible"
                    },
                    {
                        "sExtends": "xls",
                        "sButtonText": "Excel",
                        "mColumns": "visible"
                    },
                    {
                        "sExtends": "pdf",
                        "sButtonText": "PDF",
                        "mColumns": "visible"
                    },
                    {
                        "sExtends": "print",
                        "sButtonText": "Print",
                        "mColumns": "visible"
                    }
                ],
                "sSwfPath": "js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
            }
        });

        $('.dataTables-accesspoint tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            }
            else {
                accespointTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
                var accesPointData = accespointTable.row(this).data();
                var long =null ,latitude=null;
                $.each(longlatDataArray,function(i,obj){
                    if(obj.mac ==accesPointData.calledstationmac){
                        latitude = obj.latitude;
                        long = obj.longitude;
                        return false;
                    }
                });
                var selectedMarker = allMarkers[0];
                var selectedIndex=0;
                var i=0;
                allMarkers.forEach(function(marker) {
                    if(long == marker.position.lat() && latitude == marker.position.lng()){
                        selectedMarker=marker;
                        selectedIndex=i;
                    }else{
                        infoBoxes[i].close();
                    }
                    i++;
                });
                map.setCenter(selectedMarker.position);
                infoBoxes[selectedIndex].open(map, selectedMarker);
            }
        } );

        function initMap() {

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 20,
                center: {lat: 37.782551, lng: -122.445368},
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            new DropDownControl();

            generatePoistionAnchors(map,longlatDataArray,apDataArray);
            setupHeadMapData();
            heatmap = new google.maps.visualization.HeatmapLayer({
                data: heatmapDownloadDimesionData,
                map: map,
                radius:40
            });
        }


        function generatePoistionAnchors(map,longlatObjs,apDataObjs){
            for (var key in apDataObjs) {
                if (apDataObjs.hasOwnProperty(key)) {
                    var obj = longlatObjs[key];
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(obj.latitude, obj.longitude) ,
                        map: map
                    });
                    allMarkers.push(marker);
                    attachContentForInfobox(marker,apDataObjs[key]);
                }
            }
        }

        function attachContentForInfobox(marker, obj) {
            var renderdContent = "";
            $.get('components/widgets/featuredetails-widgets/location-map-details.html', function (template) {
                renderdContent = Mustache.render(template, obj);
                var infowindow = new google.maps.InfoWindow({
                    content: renderdContent
                });
                infoBoxes.push(infowindow);
                marker.addListener('click', function() {
                    infowindow.open(marker.get('map'), marker);
                });
            });
        }

        function toggleHeatmap() {
            heatmap.setMap(heatmap.getMap() ? null : map);
        }

        function formatAPData(data) {
            for (ap in data) {
                apDataArray.push(data[ap].AccessPointData);
                longlatDataArray.push(data[ap].LongLatMacData);
            }
        }

        function setupHeadMapData() {
            var index = 0;
            apDataArray.forEach(function () {
                var downloadObj = {
                    location: new google.maps.LatLng(longlatDataArray[index].latitude,longlatDataArray[index].longitude),
                    weight: apDataArray[index].totaloutputoctets
                };
                var uploadObj = {
                    location: new google.maps.LatLng(longlatDataArray[index].latitude,longlatDataArray[index].longitude),
                    weight: apDataArray[index].totalinputoctets
                };
                heatmapDownloadDimesionData.push(downloadObj);
                heatmapUploadDimesionData.push(uploadObj);
                index++;
            });
        }


        function DropDownControl() {

            var g = google.maps;

            var container = document.createElement("div");
            container.style.margin = "7px";
            container.id = "select_box";
            var selMap = document.createElement("select");
            selMap.id = "selMap";
            selMap.className="form-control";
            selMap.title ="Change Map Type";

            selMap.options[0] = new Option("Toggle HeatMap", 0);
            selMap.options[1] = new Option("Download HeatMap", 1);
            selMap.options[2] = new Option("Upload HeatMap", 2);

            selMap.selectedIndex = 0;

            container.appendChild(selMap);
            map.controls[g.ControlPosition.TOP_RIGHT].push(container);

            g.event.addDomListener(selMap, "change", function() {
                var numSel = selMap.selectedIndex;
                if( numSel==0 ){
                    toggleHeatmap();
                }else if (numSel == 1){
                    heatmap.setMap(map);
                    heatmap.setData(heatmapDownloadDimesionData);
                }else if (numSel == 2){
                    heatmap.setMap(map);
                    heatmap.setData(heatmapUploadDimesionData);
                }
                this.blur();
            });
        }

    });

</script>
