 <div class="row">
     <div class="col-lg-offset-5 col-lg-7">
         <div class="form-group col-lg-4">
             <p align="center"> Site </p>
             <select class="form-control" id="select-wifilocation">
                 {{#datagroups}}
                 <option>{{.}}</option>
                 {{/datagroups}}
             </select>
         </div>
         <div class="form-group col-lg-6">
             <p align="center"> Time Range </p>
             <div id="time-range-dashboard"  class="pull-right">
                 <i class="glyphicon glyphic on-calendar fa fa-calendar"></i>&nbsp;
                 <span></span> <b class="caret"></b>
             </div>
         </div>
         <div class="form-group col-lg-1 download-metrics-buttons">
             <div class="btn-group">
                 <a data-toggle="dropdown" class="btn btn-white btn-bitbucket dropdown-toggle">
                     <i class="fa fa-bars"></i>
                     <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu pull-right">
                     <li><a id="exportpdf" href="#">PDF Download</a></li>
                     <li><a id="exportCSV" href="#">CSV Download</a></li>
                 </ul>
             </div>
         </div>
     </div>
</div>

 <div id="dashboard-tabs">
     <ul class="nav nav-tabs">
         <li class="active">
             <a  href="#overview-content" data-toggle="tab" data-id="overview">Overview</a>
         </li>
         <li><a href="#apreort-content" data-toggle="tab" data-id="apreport">AP Reports</a>
         </li>
         <!--<li><a href="#realtime-content" data-toggle="tab" data-id="realtimereport">Real Time</a>-->
         <!--</li>-->
     </ul>
     <div class="tab-content">
         <div class="tab-pane active" id="overview-content">
             <div id="metrics-container">
                 <div id="dashboard-metric-content" class="row">

                 </div>
             </div>
         </div>
         <div class="tab-pane" id="apreort-content">
             <div id="apreport-container">
                 <div id="dashboard-apreport-content" class="row">
                 </div>
             </div>
         </div>
         <div class="tab-pane" id="realtime-content">
             <div id="realtime-container">
                 <div id="dashboard-realtime-content" class="row">
                 </div>
             </div>
         </div>
     </div>
 </div>

<script type="text/javascript">
    from_ = 0, to_ = 0 ,_prefrom = 0 , _preto = 0;
    $(document).ready(function () {
        var selectedtabid ="overview";
        saveResult(moment().subtract(29, 'days'), moment());
        renderMetrics();
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            selectedtabid = $(this).data("id");
            if(selectedtabid=="overview"){
                renderMetrics();
            }else if(selectedtabid=="apreport"){
                renderAPreport();
            }else if(selectedtabid=="realtimereport"){
                renderRealTime();
            }
        });

        $('#time-range-dashboard').daterangepicker({
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            autoApply:true
        }, function(start, end) {
            saveResult(start,end)
            if(selectedtabid=="overview"){
                renderMetrics();
            }else if(selectedtabid=="apreport"){
                renderAPreport();
            }else if(selectedtabid=="realtimereport"){
                renderRealTime();
            }
        });

        function saveResult (from,to) {
            $('#time-range-dashboard span').html(from.format('YYYY - MM - DD') + ' | ' + to.format('YYYY - MM - DD'));
            from_ = from.format('YYYY-MM-DD');
            to_ = to.format('YYYY-MM-DD');
            var period = Math.floor(moment.duration(moment(to_,"YYYY-MM-DD").diff(moment(from_,"YYYY-MM-DD"))).asDays());
            _prefrom = moment(moment(from_).subtract(period, "days")).format('YYYY-MM-DD');
            _preto = moment(from_).subtract(1, "days").format("YYYY-MM-DD");
        };

        function renderRealTime() {
            $.get('components/dashboard-realtime.html', function (template) {
                var rendered = Mustache.render(template, {});
                $('#dashboard-realtime-content').html(rendered);
            })
        }

        function renderMetrics() {
            var userPermissions = JSON.parse(Cookies.get('userpermissions'));
            var hasDashboardCSVDownloadPermission = false;
            $.get('components/dashboard-metrics.html', function (template) {
                var rendered = Mustache.render(template, {});
                $('#dashboard-metric-content').html(rendered);
                $.each(userPermissions, function (key, value) {
                    if (value.name == 'csv_download') {
                        hasDashboardCSVDownloadPermission = true
                    }
                });
                if (hasDashboardCSVDownloadPermission){
                    $("#exportCSV").show();
                }else{
                    $("#exportCSV").hide();
                }
            })

        }

        function renderAPreport(){
            $.get('components/dashboard-apreport.html', function (template) {
                var rendered = Mustache.render(template, {});
                $('#dashboard-apreport-content').html(rendered);
            })
        }

        $('#select-wifilocation').on('change', function (e) {
            window.datagroups = [this.value];
            window.appName = [this.value];
            if(selectedtabid=="overview"){
                renderMetrics();
            }else if(selectedtabid=="apreport"){
                renderAPreport();
            }else if(selectedtabid=="realtimereport"){
                renderRealTime();
            }
        });
    });
</script>