<div class="modal inmodal" id="settings-dashboard-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <i class="fa fa-dashboard modal-icon"></i>
                <h4 class="modal-title">Dashboard Settings</h4>
            </div>
            <div class="modal-body" id="settingsdbmodal-body">
                <form role="form" id="add-dashboard-form">
                    <div class="form-group">
                        <label for="update-input-dashboard-name">Name</label>
                        <input type="text" class="form-control" id="update-input-dashboard-name" name="appName"
                               placeholder="Name" required value="{{appname}}" disabled>
                    </div>
                    <div class="form-group">
                        <label>Wifi Groups</label>
                    </div>
                    <div class="checkbox">
                        <div class="row">
                            {{#locations}}
                            <div class="col-sm-6">
                                <label>
                                    <input type="checkbox" name="group" value="{{.}}" class="location-inputs" {{checkedGroups}}>{{.}}
                                </label>
                            </div>
                            {{/locations}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Metrics</label>
                    </div>
                    <div class="checkbox">
                        <div class="row">
                            {{#metrics}}
                            <div class="col-sm-6">
                                <label>
                                    <input type="checkbox" name="metric" value="{{metricid}}" >{{name}}
                                </label>
                            </div>
                            {{/metrics}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Access Control</label>
                    </div>
                    <div class="checkbox">
                        <div class="row">
                            {{#acltypes}}
                            <div class="col-sm-6">
                                <label class="radio inline control-label">
                                    <input type="radio" class="update-acltypes-radio" name="group" value="{{.}}" {{checkedACL}}>{{.}}
                                </label>
                            </div>
                            {{/acltypes}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Users</label>
                    </div>
                    <div class="checkbox">
                        <ul id="username-tags">
                            {{#currentuser}}
                            <li>{{.}}</li>
                            {{/currentuser}}
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>Options</label>
                    </div>
                    <div class="checkbox">
                        <div class="row">
                            <div class="col- sm-6">
                                <label>
                                    <input type="checkbox" id="update-chkAggregate" value="">Aggregate Location data
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="export-sett-dashboard">Export Dashboard Settings</button>
                <button type="button" class="btn btn-primary" id="update-sett-dashboard">Update Dashboard Settings</button>
            </div>
        </div>
    </div>
</div>

<script>
</script>