<!-- Downloads and Uploads -->
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="jarviswidget" id="wid-id-1" data-widget-refresh="2000"
                 data-widget-load="components/widgets/chart-widgets/downloads-series.html" data-widget-colorbutton="false"
                 data-id="downloads-series">
                <header>
                    <h2>Total Daily Downloads Distribution</h2>
                </header>
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                        <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div>
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="jarviswidget" id="wid-id-2" data-widget-refresh="2000" data-widget-colorbutton="false"
                 data-id="time-series-daily-users"
                 data-widget-load="components/widgets/chart-widgets/dailyusers-series.html">
                <header>
                    <h2>Total Daily Users Distribution</h2>
                </header>
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                        <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div>
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
            </div>
        </article>
    </div>
    <div class="row">
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="jarviswidget" id="wid-id-3" data-widget-refresh="2000" data-widget-colorbutton="false"
                 data-id="daily-user-downloads-series"
                 data-widget-load="components/widgets/chart-widgets/dailyuserdownloads-series.html">
                <header>
                    <h2><strong>Average Daily Users Downloads Distribution</strong></h2>
                </header>
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                        <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div>
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="jarviswidget" id="wid-id-4" data-widget-refresh="2000" data-widget-colorbutton="false"
                 data-id="avg-user-sessions-series"
                 data-widget-load="components/widgets/chart-widgets/avgusersession-series.html">
                <header>
                    <h2><strong>Average Daily Users Session Distribution</strong></h2>
                </header>
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                        <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div>
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
            </div>
        </article>
    </div>
    <div class="row">
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="jarviswidget" id="wid-id-5" data-widget-refresh="2000"
                 data-widget-load="components/widgets/chart-widgets/osstat-piechart.html" data-widget-colorbutton="false"
                 data-id="osstats-piechart">
                <header>
                    <h2>Browser Statistics</h2>
                </header>
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                        <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div>
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
            </div>
        </article>
        <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="jarviswidget" id="wid-id-6" data-widget-refresh="2000"
                 data-widget-load="components/widgets/chart-widgets/device-piechart.html" data-widget-colorbutton="false"
                 data-id="devicestat-piechart">
                <header>
                    <h2>Device Statistics</h2>
                </header>
                <div>
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->
                        <input class="form-control" type="text">
                        <span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body">
                        <div>
                            <div class="sk-spinner sk-spinner-three-bounce">
                                <div class="sk-bounce1"></div>
                                <div class="sk-bounce2"></div>
                                <div class="sk-bounce3"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
            </div>
        </article>
    </div>
</section>

<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-downloads">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-uploads">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-totalusers">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-avgdatausageperuser">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-avgsessiontime">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-totalsessioncount">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">

    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-usercountover1MB">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="ibox float-e-margins" id="metric-returningusers">
            <div class="ibox-title">
                <span class="label label-{{{style}}} pull-right">Today</span>
                <h5></h5>
            </div>
            <div class="ibox-content">
                <div class="sk-spinner sk-spinner-three-bounce">
                    <div class="sk-bounce1"></div>
                    <div class="sk-bounce2"></div>
                    <div class="sk-bounce3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal js-loading-bar">
    <div class="modal-dialog" center>
        <div class="progress progress-striped active" style="margin-top: 50%">
            <div class="progress-bar progress-bar-default" role="progressbar"></div>
        </div>
        <label style="float: right; margin-right: 5px; color: white">Downloading... </label>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var totalDownloadFormat;
        var totalUploadFormat;
        var totalUserFormat;
        var avgDataUsagePerUserFormat;
        var avgUserSessionTimeFormat;
        var totalSessionFormat;
        var noofUniqueUserFormat;
        var returningUserFormat;
        var fullscreenchartid;

        (function (H) {
            H.Chart.prototype.createCanvas = function (divId) {
                var svg = this.getSVG(),
                        width = parseInt(svg.match(/width="([0-9]+)"/)[1]),
                        height = parseInt(svg.match(/height="([0-9]+)"/)[1]),
                        canvas = document.createElement('canvas');

                canvas.setAttribute('width', width);
                canvas.setAttribute('height', height);

                if (canvas.getContext && canvas.getContext('2d')) {

                    canvg(canvas, svg);

                    return canvas.toDataURL("image/jpeg");

                }
                else {
                    alert("Your browser doesn't support this feature, please use a modern browser");
                    return false;
                }

            }
        }(Highcharts));

        $('#exportpdf').click(function (event) {
            event.stopImmediatePropagation();
            var pdfOptions = {
                orientation: "landscape", // One of "portrait" or "landscape" (or shortcuts "p" (Default), "l")
                unit: "mm",              //Measurement unit to be used when coordinates are specified. One of "pt" (points), "mm" (Default), "cm", "in"
                format: "a4"             //One of 'a3', 'a4' (Default),'a5' ,'letter' ,'legal'
            }
            var doc = new jsPDF(pdfOptions);

            doc.setFontSize(12);
            doc.text(25, 20, "Area/Site/AP : " + payload.parameters[0]);
            doc.setFontSize(12);
            doc.text(25, 30, "Statistics from " + payload.from + " to " + payload.to);


            currentHight = 60;
            // block 01
            doc.rect(25, 50, 230, 80, "stroke")
            doc.setFontSize(12);
            doc.text(40, currentHight + 5, "Total Downloads : ");
            doc.setFontSize(15);
            doc.setTextColor(7, 123, 102);
            doc.text(100, currentHight + 5, totalDownloadFormat);


            doc.setFontSize(12);
            doc.setTextColor(0, 0, 0);
            doc.text(160, currentHight + 5, "Total Uploads : ");
            doc.setFontSize(15);
            doc.setTextColor(7, 123, 102);
            doc.text(220, currentHight + 5, totalUploadFormat);

            currentHight += 15;

            doc.setFontSize(12);
            doc.setTextColor(0, 0, 0);
            doc.text(40, currentHight + 5, "Total Users : ");
            doc.setFontSize(15);
            doc.setTextColor(7, 123, 102);
            doc.text(100, currentHight + 5, totalUserFormat);


            doc.setFontSize(12);
            doc.setTextColor(0, 0, 0);
            doc.text(160, currentHight + 5, "Avg Data Usage per User : ");
            doc.setFontSize(15);
            doc.setTextColor(7, 123, 102);
            doc.text(220, currentHight + 5, avgDataUsagePerUserFormat);

            currentHight += 15;

            doc.setFontSize(12);
            doc.setTextColor(0, 0, 0);
            doc.text(40, currentHight + 5, "Avg User session time : ");
            doc.setFontSize(15);
            doc.setTextColor(7, 123, 102);
            doc.text(100, currentHight + 5, avgUserSessionTimeFormat);


            doc.setFontSize(12);
            doc.setTextColor(0, 0, 0);
            doc.text(160, currentHight + 5, "Total Sessions : ");
            doc.setFontSize(15);
            doc.setTextColor(7, 123, 102);
            doc.text(220, currentHight + 5, totalSessionFormat);

            currentHight += 15;

            doc.setFontSize(12);
            doc.setTextColor(0, 0, 0);
            doc.text(40, currentHight + 5, "Unique Users (>1MB)");
            doc.setFontSize(15);
            doc.setTextColor(7, 123, 102);
            doc.text(100, currentHight + 5, noofUniqueUserFormat);


            doc.setFontSize(12);
            doc.setTextColor(0, 0, 0);
            doc.text(160, currentHight + 5, "Returning Users");
            doc.setFontSize(15);
            doc.setTextColor(7, 123, 102);
            doc.text(220, currentHight + 5, returningUserFormat);

            doc.setTextColor(0, 0, 0);
            doc.setFontStyle('bold');
            doc.setFontSize(12);

            var chartHeight = 80;
            var chartWidth = 250;

            var titleTop = 0;
            var chartTop = 0;

            $('.pdfChartLine').each(function (index) {
                doc.addPage();
                var imageData = $(this).highcharts().createCanvas();
                titleTop = 20;
                chartTop = 45;
                doc.text(25, titleTop, $(this).data("title"));
                doc.addImage(imageData, 'JPEG', 25, chartTop, chartWidth, chartHeight);
            });

            var pieCharHeight = 100;
            var pieCharWidth = 150;

            $('.pdfChartPie').each(function (index) {
                doc.addPage();
                var imageData = $(this).highcharts().createCanvas();
                doc.setFontSize(10);
                titleTop = 20;
                chartTop = 45;
                doc.text(40, titleTop, $(this).data("title"));
                doc.addImage(imageData, 'JPEG', 80, chartTop, pieCharWidth, pieCharHeight);
            });
            doc.save('home-dashboard.pdf');
        });

        $(
                function () {
                    pageSetUp();
                    var payload = {
                        from: from_,
                        to: to_,
                        prefrom: _prefrom,
                        preto: _preto,
                        criteria : window.filtercriteria,
                        parameters : window.datagroups,
                        acl: window.aclvalue,
                        tenantid: parseInt(Cookies.get("tenantid"))
                    };
                    window.payload = payload
                    var totaldownloads = 0, totaluploads = 0, uniqueuserscount = 0
                    var totaldownloadsPrevoius = 0, totaluploadsPrevious = 0, uniqueuserscountPrevious = 0

                    var renderTotalDownloads = $.post('/wifi/usage/downloads', JSON.stringify(payload), function (data, status) {
                        totaldownloads = data.value;
                        totaldownloadsPrevoius = data.prevalue;
                        totalDownloadFormat = numeral(data.value).format('0.00b')
                        $.get('components/metric-base.html', function (template) {
                            var rendered = Mustache.render(template, {
                                caption: 'Total Downloads',
                                value: totalDownloadFormat,
                                titlecolor: '#12A6A8',
                                percentage: data.percentage.toFixed(2),
                                status: data.status
                            });
                            $('#metric-downloads').html(rendered)
                        })
                    });

                    var renderTotalUploads = $.post('/wifi/usage/uploads', JSON.stringify(payload), function (data, status) {
                        totaluploads = data.value;
                        totaluploadsPrevious = data.prevalue;
                        totalUploadFormat = numeral(data.value).format('0.00b');
                        $.get('components/metric-base.html', function (template) {
                            var rendered = Mustache.render(template, {
                                caption: 'Total Uploads',
                                value: totalUploadFormat,
                                titlecolor: '#12A6A8',
                                percentage: data.percentage.toFixed(2),
                                status: data.status
                            });
                            $('#metric-uploads').html(rendered)
                        })
                    });

                    var renderTotalUserCount = $.post('/wifi/users/count', JSON.stringify(payload), function (data, status) {
                        uniqueuserscount = (data.value === 0 ? 1 : data.value);
                        uniqueuserscountPrevious = (data.prevalue === 0 ? 1 : data.prevalue);
                        totalUserFormat = uniqueuserscount.toString();
                        $.get('components/metric-base.html', function (template) {
                            var rendered = Mustache.render(template, {
                                caption: 'Total Users',
                                value: uniqueuserscount,
                                titlecolor: '#12A6A8',
                                percentage: data.percentage.toFixed(2),
                                status: data.status
                            });
                            $('#metric-totalusers').html(rendered)
                        })
                    });

                    $.post('/wifi/sessions/avg', JSON.stringify(payload), function (data, status) {
                        $.get('components/metric-base.html', function (template) {
                            avgUserSessionTimeFormat = numeral(data.value).format('00:00:00');
                            var rendered = Mustache.render(template, {
                                caption: 'Avg User session time',
                                value: avgUserSessionTimeFormat,
                                titlecolor: '#12A6A8',
                                percentage: data.percentage.toFixed(2),
                                status: data.status
                            });
                            $('#metric-avgsessiontime').html(rendered)
                        })
                    });

                    $.post('/wifi/sessions/count', JSON.stringify(payload), function (data, status) {
                        $.get('components/metric-base.html', function (template) {
                            totalSessionFormat = data.value.toString();
                            var rendered = Mustache.render(template, {
                                caption: 'Total Sessions',
                                value: data.value,
                                titlecolor: '#12A6A8',
                                percentage: data.percentage.toFixed(2),
                                status: data.status
                            });
                            $('#metric-totalsessioncount').html(rendered)
                        })
                    });

                    $.post('/wifi/users/countbydownlods/1000000', JSON.stringify(payload), function (data, status) {
                        $.get('components/metric-base.html', function (template) {
                            noofUniqueUserFormat = data.value.toString();
                            var rendered = Mustache.render(template, {
                                caption: 'Unique Users (>1MB)',
                                value: data.value,
                                titlecolor: '#12A6A8',
                                percentage: data.percentage.toFixed(2),
                                status: data.status
                            });
                            $('#metric-usercountover1MB').html(rendered)
                        })
                    });

                    $.when(renderTotalDownloads, renderTotalUploads, renderTotalUserCount).done(function () {
                        $.get('components/metric-base.html', function (template) {
                            var avgDataUsagePerUserValue = (totaldownloads + totaluploads) / uniqueuserscount;
                            var avgDataUsagePerUserPreValue = (totaldownloadsPrevoius + totaluploadsPrevious) / uniqueuserscountPrevious;
                            var percentage = 0, status = "";
                            if (avgDataUsagePerUserPreValue != 0) {
                                percentage = Math.abs((avgDataUsagePerUserPreValue - avgDataUsagePerUserValue) / (avgDataUsagePerUserPreValue) * 100)
                            } else {
                                percentage = 100;
                            }
                            if (avgDataUsagePerUserPreValue > avgDataUsagePerUserValue) {
                                status = "down"
                            } else {
                                status = "up"
                            }
                            avgDataUsagePerUserFormat = numeral(avgDataUsagePerUserValue).format('0.00b');
                            var rendered = Mustache.render(template, {
                                caption: 'Avg Data Usage per User',
                                value: avgDataUsagePerUserFormat,
                                titlecolor: '#12A6A8',
                                percentage: percentage.toFixed(2),
                                status: status
                            });
                            $('#metric-avgdatausageperuser').html(rendered)
                        })
                    });

                    $.post('/wifi/users/returncount', JSON.stringify(payload), function (data, status) {
                        $.get('components/metric-base.html', function (template) {
                            returningUserFormat = data.value.toString();
                            var rendered = Mustache.render(template, {
                                caption: 'Returning Users',
                                value: returningUserFormat,
                                titlecolor: '#12A6A8',
                                percentage: data.percentage.toFixed(2),
                                status: data.status
                            });
                            $('#metric-returningusers').html(rendered)
                        })
                    });

                    // Summary Data CSV download ajax call
                    var a = document.createElement("a");
                    document.body.appendChild(a);
                    a.style = "display: none";

                    var fileName = "dashboard.csv";

                    $('#exportCSV').click(function () {

                        var $modal = $('.js-loading-bar'), $bar = $modal.find('.progress-bar');
                        $bar.css('width', '0%').attr('aria-valuenow', 0);
                        $modal.modal('show');
                        var valeur = 0;
                        var progresbarInterval = setInterval(function () {
                            $bar.css('width', valeur + '%').attr('aria-valuenow', valeur);
                            if (valeur == 100) {
                                valeur = 0;
                            }
                            valeur = valeur + 20
                        }, 200);
                        $.post('/wifi/summary/downloadrawdata', JSON.stringify(payload), function (data, status) {
                            clearInterval(progresbarInterval);
                            $bar.css('width', '100%').attr('aria-valuenow', 100);
                            setTimeout(function () {
                                $modal.modal('hide');
                                var csvfile = new Blob([data], {type: "text/csv"}),
                                        url = window.URL.createObjectURL(csvfile);
                                a.href = url;
                                a.download = fileName;
                                a.click();
                                document.body.removeChild(a);
                                window.URL.revokeObjectURL(url);
                            }, 1000);
                        });
                    });

                }
        );

        $('#widget-grid').jarvisWidgets({
            toggleClass: 'fa fa-minus | fa fa-plus',
            deleteClass: 'fa fa-times',
            editClass: 'fa fa-cog | fa fa-save',
            fullscreenClass: 'fa fa-expand | fa fa-compress',
            refreshButtonClass: 'fa fa-refresh',
            grid: 'article',
            onFullscreen: function () {
                if (!fullscreenchartid) {
                    var selectedwidgetid = $("#jarviswidget-fullscreen-mode >:first-child").data("id");
                    fullscreenchartid = selectedwidgetid;
                    $("#" + selectedwidgetid).highcharts().reflow();
                } else {
                    $("#" + fullscreenchartid).highcharts().reflow();
                    fullscreenchartid = "";
                }
            }
        });
    });

</script>