<!-- Access point Map -->
<div class="row">
    <div class="col-lg-12">
        <div class="ibox-content float-e-margins">
            <h2>Access Point Map</h2>

            <div id="world-map" style="height: 300px;"></div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px ">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Wifi Locations</h5>

                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#" id="add-wifilocation-btn">Add New Location</a>
                        <li><a href="#" id="add-wifigroup-btn">Add New Group</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table id="example" class="table table-striped table-bordered table-hover dataTables-location">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Location Group</th>
                        <th>MAC</th>
                        <th>SSID</th>
                        <th>BSSID</th>
                        <th>Longitude</th>
                        <th>Latitude</th>
                        <th>Settings</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Location</th>
                        <th></th>
                        <th>SSID</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Delete Location</h4>
            </div>
            <div class="modal-body">
                <p><strong>Are you sure you want to delete the location?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="delete-location">Yes</button>
            </div>
        </div>
    </div>
</div>

<div id="add-wifi-location-modal-content"></div>

<script>
    $(document).ready(function () {
        var serverOriginUrl = window.location.origin;
        var mapData = {
            "US": 498,
            "SA": 200,
            "CA": 1300,
            "DE": 220,
            "FR": 540,
            "CN": 120,
            "AU": 760,
            "BR": 550,
            "IN": 200,
            "GB": 120,
            "RU": 2000
        };

        $('#world-map').vectorMap({
            map: 'world_mill_en',
            backgroundColor: "transparent",
            regionStyle: {
                initial: {
                    fill: '#e4e4e4',
                    "fill-opacity": 1,
                    stroke: 'none',
                    "stroke-width": 0,
                    "stroke-opacity": 0
                }
            },
            series: {
                regions: [{
                    values: mapData,
                    scale: ["#1ab394", "#22d6b1"],
                    normalizeFunction: 'polynomial'
                }]
            }
        });

        var locationTable = $('.dataTables-location').DataTable({
            responsive: true,
            orderCellsTop: true,
            autoWidth: false,
            "ajax": {
                "url": serverOriginUrl + "/wifi/" + Cookies.get("tenantid") + "/locations",
                "type": "GET",
                "error": function (e) {
                },
                "dataSrc": function (d) {
                    return d
                }
            },
            columns: [
                {"data": "locationid", "width": "3%"},
                {"data": "groupname", "width": "10%"},
                {"data": "mac", "width": "10%"},
                {"data": "ssid", "width": "10%"},
                {"data": "bssid", "width": "10%"},
                {"data": "longitude", "width": "10%"},
                {"data": "latitude", "width": "10%"},
                {
                    "data": null,
                    "defaultContent": "<div class='btn-group'><button class='btn btn-white btn-xs dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><i class='fa fa-gear'></i></button><ul class='dropdown-menu'><li><a href='#' id='setting-edit-location'>Edit</a></li><li><a href='#' id='setting-delete-location'>Delete</a></li></ul></div>",
                    "width": "1%",
                    "className": 'center',
                    "sortable": false
                }
            ],
            dom: "<'dt-toolbar'<'col-xs-12 col-sm-6'lf><'col-sm-6 col-xs-6 hidden-xs'CT>r>" +
            "t" +
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            tableTools: {
                "aButtons": [
                    {
                        "sExtends": "copy",
                        "sButtonText": "Copy",
                        "mColumns": "visible"
                    },
                    {
                        "sExtends": "csv",
                        "sButtonText": "CSV",
                        "mColumns": "visible"
                    },
                    {
                        "sExtends": "xls",
                        "sButtonText": "Excel",
                        "mColumns": "visible"
                    },
                    {
                        "sExtends": "pdf",
                        "sButtonText": "PDF",
                        "mColumns": "visible"
                    },
                    {
                        "sExtends": "print",
                        "sButtonText": "Print",
                        "mColumns": "visible"
                    }
                ],
                "sSwfPath": "js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
            }
        });

        $.get('/wifi/' + Cookies.get('tenantid') + '/locations/groups', function (locationGroups) {
            $('.dataTables-location').dataTable().columnFilter({
                sPlaceHolder: "head:before",
                aoColumns: [
                    null,
                    {type: "select", values: locationGroups},
                    null,
                    {"bSortable": false},
                    null,
                    null,
                    null,
                    null
                ]
            });
        });

        $('.dataTables-location tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                locationTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        var selectedLocation;

        $('#delete-location').on("click", function (event) {
            $.ajax({
                url: '/wifi/' + Cookies.get('tenantid') + '/locations/' + selectedLocation.mac + '/' + selectedLocation.ssid + '/' + selectedLocation.groupname,
                type: 'DELETE',
                success: function (result) {
                    $('#confirm-delete-modal').modal('hide')
                    locationTable.row('.selected').remove().draw(false);
                },
                error: function (e) {
                    console.log(e)
                }
            });
            return false;
        });

        $('.dataTables-location tbody').on('click', '#setting-delete-location', function () {
            selectedLocation = locationTable.row($(this).parents('tr')).data();
            $('#confirm-delete-modal').modal()
        });

        $('.dataTables-location tbody').on('click', '#setting-edit-location', function () {
            var locations;
            selectedLocation = locationTable.row($(this).parents('tr')).data();
            var locationsAjax = $.get('/wifi/' + Cookies.get('tenantid') + '/locations/groups', function (result) {
                locations = result;
                console.log(locations);
                var index = locations.indexOf(selectedLocation.groupname);
                if (index > -1) {
                    locations.splice(index, 1);
                }
            });
            var updateWifiLocationFromValidator;
            $.when(locationsAjax).done(function(){
                $.get('components/wifi-locationupdate-modal.html', function (template) {
                    var rendered = Mustache.render(template, {
                        locations: locations,
                        groupname:selectedLocation.groupname,
                        mac:selectedLocation.mac,
                        ssid:selectedLocation.ssid,
                        bssid:selectedLocation.bssid,
                        longitude:selectedLocation.longitude,
                        latitude:selectedLocation.longitude
                    });
                    console.log(rendered);
                    $('#add-wifi-location-modal-content').html(rendered);
                    $('#update-wifilocation-modal').modal();
                    updateWifiLocationFromValidator = $("#update-wifilocation-form").validate({
                        rules: {
                            mac: {
                                required: true,
                                minlength: 17,
                                maxlength: 17
                            },
                            ssid: {
                                required: true,
                                minlength: 1
                            },
                            bssid: {
                                required: true,
                                minlength: 17,
                                maxlength: 17,
                            },
                            longitude: {
                                required: false,
                                number: true
                            },
                            latitude: {
                                required: false,
                                number: true
                            }
                        },
                        messages: {
                            mac: "Please enter a correct MAC address in xx-xx-xx-xx-xx-xx form",
                            bssid: "Please enter a correct BSSID address in xx-xx-xx-xx-xx-xx form"
                        }
                    });
                });
            });

            // update wifi location
            $("#add-wifi-location-modal-content").off('click').on("click", '#btn-update-wifilocation', function (event) {
                var payload = {
                    tenantid: parseInt(Cookies.get('tenantid')),
                    locationid:selectedLocation.locationid,
                    mac: $('#edit-mac').val(),
                    ssid: $('#edit-ssid').val(),
                    bssid: $('#edit-bssid').val(),
                    latitude: parseFloat($('#edit-latitude').val()),
                    longitude: parseFloat($('#edit-longitude').val()),
                    groupname: $('#edit-group-name').val()
                };
                $.post('/wifi/locationsupdate', JSON.stringify(payload), function (result) {
                    $('#update-wifilocation-modal').modal('hide');
                    locationTable.ajax.reload();
                });
            });
        });

        $("#add-wifilocation-btn").on('click', function () {
            var locations;
            var locationsAjax = $.get('/wifi/' + Cookies.get('tenantid') + '/locations/groups', function (result) {
                locations = result
            });
            var addWifiLocationFromValidator;
            $.when(locationsAjax).done(function () {
                $.get('components/wifi-location-modal.html', function (template) {
                    var rendered = Mustache.render(template, {
                        locations: locations
                    });
                    $('#add-wifi-location-modal-content').html(rendered);
                    $('#add-wifilocation-modal').modal();

                    addWifiLocationFromValidator = $("#add-wifilocation-form").validate({
                        rules: {
                            mac: {
                                required: true,
                                minlength: 17,
                                maxlength: 17,
                            },
                            ssid: {
                                required: true,
                                minlength: 1
                            },
                            bssid: {
                                required: true,
                                minlength: 17,
                                maxlength: 17,
                            },
                            longitude: {
                                required: false,
                                number: true
                            },
                            latitude: {
                                required: false,
                                number: true
                            }
                        },
                        messages: {
                            mac: "Please enter a correct MAC address in xx-xx-xx-xx-xx-xx form",
                            bssid: "Please enter a correct BSSID address in xx-xx-xx-xx-xx-xx form"
                        }
                    });
                });
            });

            $("#add-wifi-location-modal-content").off('click').on("click", '#btn-add-wifilocation', function (event) {
                if (addWifiLocationFromValidator.valid()) {
                    var payload = {
                        tenantid: parseInt(Cookies.get('tenantid')),
                        mac: $('#input-mac').val(),
                        ssid: $('#input-ssid').val(),
                        bssid: $('#input-bssid').val(),
                        latitude: parseFloat($('#input-latitude').val()),
                        longitude: parseFloat($('#input-longitude').val()),
                        groupname: $('#input-group-name').val()
                    };
                    $.post('/wifi/locations', JSON.stringify(payload), function (result) {
                        $('#add-wifilocation-modal').modal('hide');
                        locationTable.ajax.reload();
                    });
                }
                return false;
            });
        });

        $("#add-wifigroup-btn").on('click', function () {
            var addWifiGroupFromValidator;
            $.get('components/wifi-group-modal.html', function (template) {
                var rendered = Mustache.render(template, {
                    locations: ""
                });
                $('#add-wifi-location-modal-content').html(rendered);
                $('#add-wifigroup-modal').modal();

                addWifiGroupFromValidator = $("#add-wifigroup-form").validate({
                    rules: {
                        groupname: {
                            required: true,
                            minlength: 1
                        },
                        groupsymbol: {
                            required: true,
                            minlength: 1
                        }
                    }
                });
            });

            $("#add-wifi-location-modal-content").off('click').on("click", '#btn-add-wifigroup', function (event) {
                if (addWifiGroupFromValidator.valid()) {
                    var payload = {
                        tenantid: parseInt(Cookies.get('tenantid')),
                        groupname: $('#input-group-name').val(),
                        groupsymbol: $('#input-group-symbol').val()
                    };
                    $.post('/wifi/locations/groups', JSON.stringify(payload), function (result) {
                        $('#add-wifigroup-modal').modal('hide');
                    });
                }
                return false;
            });
        });
    });
</script>