<!-- Access point Map -->
<div class="row">
    <div class="col-lg-12">
        <div class="ibox-content float-e-margins">
            <h2>Access Point Map</h2>
            <div id="world-map" style="height: 300px;"></div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px ">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5> Wifi Locations</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover dataTables-location"  >
                    <thead>
                    <tr>
                        <th>Locaion Id</th>
                        <th>Location Name</th>
                        <th>NAS IP</th>
                        <th>IP From</th>
                        <th>IP To</th>
                        <th>Settings</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Delete User</h4>
            </div>
            <div class="modal-body">
                <p><strong>Are you sure you want to delete the user?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="delete-location">Yes</button>
            </div>
        </div>
    </div>
</div>


<script>
    var mapData = {
        "US": 498,
        "SA": 200,
        "CA": 1300,
        "DE": 220,
        "FR": 540,
        "CN": 120,
        "AU": 760,
        "BR": 550,
        "IN": 200,
        "GB": 120,
        "RU": 2000
    };

    $('#world-map').vectorMap({
        map: 'world_mill_en',
        backgroundColor: "transparent",
        regionStyle: {
            initial: {
                fill: '#e4e4e4',
                "fill-opacity": 1,
                stroke: 'none',
                "stroke-width": 0,
                "stroke-opacity": 0
            }
        },
        series: {
            regions: [{
                values: mapData,
                scale: ["#1ab394", "#22d6b1"],
                normalizeFunction: 'polynomial'
            }]
        },
    });

    var locationTable = $('.dataTables-location').DataTable({
        orderCellsTop: true,
        data: {{{data}}},
    columns: [
        { "data": "locationid" , "width": "10%"},
        { "data": "locationname" , "width": "10%"},
        { "data": "nasip" , "width": "10%"},
        { "data": "ipfrom" , "width": "10%"},
        { "data": "ipto" , "width": "10%"},
        {"data": null,
            "defaultContent": "<button class='btn btn-white btn-circle'><i class='fa fa-times'></i></button>",
        "width" : "10%" },
    ],
            dom: 'T<"clear">lfrtip',
            tableTools: {
        "sSwfPath": "js/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
    }
    });

    $('.dataTables-location tbody').on( 'click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            locationTable.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }
    } );

    var selectedLocation;

    $('#delete-location').on("click", function(event){
        $.ajax({
            url: '/wifi/users/'+ selectedLocation.username,
            type: 'DELETE',
            success: function(result) {
                $('#confirm-delete-modal').modal('hide')
                locationTable.row('.selected').remove().draw( false );
            },
            error: function(e){
                console.log(e)
            }
        });
        return false;
    });

    $('.dataTables-location tbody').on( 'click', 'button', function () {
        selectedLocation = locationTable.row( $(this).parents('tr') ).data();
        $('#confirm-delete-modal').modal()
    });
</script>