<div class="ibox-content">
    <div id="lineChart" height="70">

    </div>
    <div class="m-t-md">
        <small class="pull-right">
            <i class="fa fa-clock-o"> </i>
            Update on
        </small>
    </div>

</div>


<script>
    $(function () {
       var lineChart = $('#lineChart').highcharts({
            chart: {
                zoomType: 'x'
            },
            title: {
                text: 'Downloads distribution'
            },
            subtitle: {
                text: 'Daily Downloads against time'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: 'Downlods (MB)'
                },
                min: 0
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            },

            plotOptions: {
                spline: {
                    marker: {
                        enabled: true
                    }
                }
            },
           exporting: {
               sourceWidth: 1600,
               sourceHeight: 500,
               chartOptions: {
                   subtitle: null
               }
           },
            series: {{{data}}}
        });
    });
</script>