<div class="ibox-title" style="background-color:{{{titlecolor}}} ">
    <!--<span class="label label-{{{style}}} pull-right">Today</span>-->
    <h5 style="color:#ffffff">Downloads distribution</h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
        </ul>
        <a class="close-link">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>

<div class="ibox-content">
    <h1 class="no-margins" style="padding-left: 15%"></h1>
    <div id="lineChart" height="70">

    </div>
    <div class="m-t-md">
        <small class="pull-right">
            <i class="fa fa-clock-o"> </i>
            Update on
        </small>
    </div>

</div>


<script>
    $(function () {
       var lineChart = $('#lineChart').highcharts({
            chart: {
                zoomType: 'x'
            },
            title: {
                text: ''
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: 'Downloads (MB)'
                },
                min: 0
            },
            tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
            },
            plotOptions: {
                spline: {
                    marker: {
                        enabled: true
                    }
                }
            },
           exporting: {
               sourceWidth: 1600,
               sourceHeight: 500,
               chartOptions: {
                   subtitle: null
               }
           },
            series: {{{data}}},
            credits: {
                enabled: false
            }
        });
    });
</script>