<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" align="center">
            <i class="fa fa-desktop fa-2x fa-icon-themcolor"></i>
            <h3 class="title">Radius Monitoring - AAA</h3>
            <small class="font-bold">Radius server monitoring capability to the dashboards</small>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Radius DB Servers | Nas Clients List</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row aaa-list-container">
                            <table class="table table-striped table-bordered table-hover dataTables-aaalist">
                                <thead>
                                <tr>
                                    <th>Instance ID</th>
                                    <th>Server Name</th>
                                    <th>Host IP</th>
                                    <th>Port</th>
                                    <th>Radius Schema Name</th>
                                    <th>User Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                            </table>
                            </br>
                            </br>
                        </div>
                        <div class="row">
                            <div class="alert alert-danger msg-getnasclients-error" style="display: none">
                                <a href="#" id="alert-close" class="close" aria-label="close">&times;</a>
                                <strong>Error ! &ensp;</strong> <span>Indicates a dangerous or potentially negative action.</span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="nasclientspanel">
                                Client List
                            </div>
                            <div id="collapse-nasclients" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="nasclientspanel">
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-hover dataTables-nasclientlist">
                                        <thead>
                                        <tr>
                                            <th>Client ID</th>
                                            <th>Nas Name</th>
                                            <th>Short Name</th>
                                            <th>Type</th>
                                            <th>Ports</th>
                                            <th>Secret</th>
                                            <th>Settings</th>
                                            <!--<th>Test</th>-->
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Update Radius server Configuration-->
<div class="modal inmodal" id="edit-radiuserver-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title radius-modal-title">Update Radius DB Server</h4>
                <small>A RADIUS server is a network server implementing RADIUS and RADIUS-based authentication
                    protocols
                </small>
            </div>
            <div class="modal-body" id="rad-editconfig-bodymodal">
                <form role="form" id="aaa-ins-editform">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="edit-hostip">Host IP/Name</label>
                            <input type="text" class="form-control" id="edit-hostip" data-fv-ip-ipv4="true"
                                   name="editserverip"
                                   placeholder="Name" required disabled>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="edit-hostname">AAA Instance Name</label>
                            <input type="text" class="form-control" id="edit-hostname" name="editservername"
                                   placeholder="Name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="edit-host-port">Port</label>
                            <input type="text" class="form-control" id="edit-host-port" name="edithostport"
                                   placeholder="Name" value="1812"
                                   onblur="if (this.value == '') {this.value = '3306';}"
                                   onfocus="if (this.value == '3306') {this.value = '';}" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="edit-schema">Radius Schema</label>
                            <input type="text" class="form-control" id="edit-schema" name="edithostschema"
                                   placeholder="Name" value="radius"
                                   onblur="if (this.value == '') {this.value = 'radius';}"
                                   onfocus="if (this.value == 'radius') {this.value = '';}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="edit-username">User name <span><small>[default : root]</small></span></label>
                            <input type="input" class="form-control" id="edit-username" name="editdbusername"
                                   placeholder="Name" value="root"
                                   onblur="if (this.value == '') {this.value = 'root';}"
                                   onfocus="if (this.value == 'root') {this.value = '';}" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="edit-password">Password</label>
                            <input type="password" class="form-control" id="edit-password" name="editdbuserpassword"
                                   placeholder="Name" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-edit-radiusserver">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Radius server Configuration -->
<div class="modal inmodal" id="radiuserver-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title radius-modal-title">Create Radius DB Server</h4>
                <small>A RADIUS server is a network server implementing RADIUS and RADIUS-based authentication
                    protocols
                </small>
            </div>
            <div class="modal-body" id="aaa-ins-bodymodal">
                <form role="form" id="aaa-ins-inputform">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="input-serverinstance-name">AAA Instance Name</label>
                            <input type="text" class="form-control" id="input-serverinstance-name" name="servername"
                                   placeholder="Name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="input-hostname">Host Name [IP]</label>
                            <input type="text" class="form-control" id="input-hostname" data-fv-ip-ipv4="true"
                                   name="serverip" aria-label="ip address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="input-host-port">Port</label>
                            <input type="text" class="form-control" id="input-host-port" name="hostport"
                                   placeholder="Name" value="3306"
                                   onblur="if (this.value == '') {this.value = '3306';}"
                                   onfocus="if (this.value == '3306') {this.value = '';}" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="input-schema">Radius Schema</label>
                            <input type="text" class="form-control" id="input-schema" name="hostschema"
                                   placeholder="Name" value="radius"
                                   onblur="if (this.value == '') {this.value = 'radius';}"
                                   onfocus="if (this.value == 'radius') {this.value = '';}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="input-username">User name <span><small>[default : root]</small></span></label>
                            <input type="input" class="form-control" id="input-username" name="dbusername"
                                   placeholder="Name" value="root"
                                   onblur="if (this.value == '') {this.value = 'root';}"
                                   onfocus="if (this.value == 'root') {this.value = '';}" required>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="input-password">Password</label>
                            <input type="password" class="form-control" id="input-password" name="dbuserpassword"
                                   placeholder="Name" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-add-radiusclient">Save</button>
            </div>
        </div>
    </div>
</div>
<!-- Add NAS Client Configuration-->
<div class="modal fade" id="add-nasclient-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Create NAS Client</h4>
            </div>
            <div class="modal-body" id="add-nasclient-body">
                <form role="form" id="add-nasclient-form">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="nas-client-nasip">NAS IP Address</label>
                            <input type="text" class="form-control" id="nas-client-nasip"
                                   name="inputnasip">
                        </div>
                    </div>
                    <div class="alert alert-info">
                        <strong>Note : </strong> You can enter Ip address or Ip range : xxx.xxx.xxx.xxx/xx
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="nas-client-shortname">NAS Short Name</label>
                            <input type="text" class="form-control" id="nas-client-shortname"
                                   name="inputshortname">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="nas-client-type">NAS Type</label>
                            <input type="text" class="form-control" id="nas-client-type"
                                   name="inputtype">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="nas-client-authport">Auth Port</label>
                            <input type="text" class="form-control" id="nas-client-authport"
                                   name="inputauthport" value="1812"
                                   onblur="if (this.value == '') {this.value = '1812';}"
                                   onfocus="if (this.value == '1812') {this.value = '';}">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="nas-client-secret">Secret Key</label>
                            <input type="text" class="form-control" id="nas-client-secret"
                                   name="inputsecret">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-create-nasclient">Create NAS Client</button>
            </div>
        </div>
    </div>
</div>
<!-- Update NAS Client-->
<div class="modal fade" id="edit-nasclient-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Update NAS Client</h4>
            </div>
            <div class="modal-body" id="edit-nasclient-body">
                <form role="form" id="edit-nasclient-form">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="nas-client-nasip">NAS IP Address</label>
                            <input type="text" class="form-control" id="edit-nas-nasip"
                                   name="editnasip" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="nas-client-shortname">NAS Short Name</label>
                            <input type="text" class="form-control" id="edit-nas-shortname"
                                   name="editshortname">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="nas-client-type">NAS Type</label>
                            <input type="text" class="form-control" id="edit-nas-type"
                                   name="editype">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="nas-client-authport">Auth Port</label>
                            <input type="text" class="form-control" id="edit-nas-authport"
                                   name="editauthport" value="1812"
                                   onblur="if (this.value == '') {this.value = '1812';}"
                                   onfocus="if (this.value == '1812') {this.value = '';}">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="nas-client-secret">Secret Key</label>
                            <input type="text" class="form-control" id="edit-nas-secret"
                                   name="editsecret">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-update-nasclient">Update NAS Client</button>
            </div>
        </div>
    </div>
</div>

<!-- Radius server Deletion-->
<div class="modal fade" id="confirm-deleteradius-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Delete Radius Instance</h4>
            </div>
            <div class="modal-body" id="deleteradius-body">
                <p><strong>Are you sure you want to delete the radius instance?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="delete-radius-server">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- NAS Client Deletion-->
<div class="modal fade" id="confirm-deletenasclient-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Delete NAS Client</h4>
            </div>
            <div class="modal-body" id="deletenasclient-body">
                <p><strong>Are you sure you want to delete the NAS cliet?</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="delete-nasclient">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var serverOriginUrl = window.location.origin;

        var connEst = false;
        var data = [];
        var aaaTable;
        var nasClientsTable;
        var currentServerObject = {};
        var selectedServerNasClients;


        $.validator.addMethod('IP4Checker', function (value) {
            var IP = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/;
            var CIDR = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\/([0-9]|[1-2][0-9]|3[0-2]))$/;
            return value.match(IP) || value.match(CIDR);
        }, 'Invalid IP or CIDR address');


        $.validator.addMethod("checkIpRangerExists",
                function (value, element) {
                    var valid = false;
                    var ipSlices = value.split("/");
                    var IpRangeStartPoint = ipSlices[0];
                    var rangeSize;
                    if (ipSlices.length > 1) {
                        rangeSize = ipSlices[1]
                    } else {
                        rangeSize = 0;
                    }
                    $.ajax({
                        type: "GET",
                        async: false,
                        url: serverOriginUrl + '/radius/' + currentServerObject.InsId + '/validnas?ipstring='+IpRangeStartPoint+'&rangesize='+rangeSize,
                        success: function (checkavalibility) {
                            valid = (checkavalibility == true) ? false : true;
                        }
                    });
                    return valid;
                },
                "There is NAS Client [ NAS IP or IP range] already exists in DB Server"
        );

        var aaaListData;
        aaaTable = $('.dataTables-aaalist').DataTable({
            ajax: {
                "url": serverOriginUrl + '/radius/radiusdetails',
                "type": "GET",
                "error": function (e) {
                },
                "dataSrc": function (d) {
                    aaaListData = d;
                    return d
                }
            },
            columns: [
                {data: 'InsId'},
                {data: 'dbhostname'},
                {data: 'dbhostip'},
                {data: 'dbhostport'},
                {data: 'dbschemaname'},
                {data: 'dbusername'},
                {data: 'status'},
                {
                    "data": null,
                    "defaultContent": "<div class='btn-group'><button class='btn btn-white btn-xs dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><i class='fa fa-gear'></i></button><ul class='dropdown-menu'><li><a href='#' id='setting-edit-radiusserver'>Edit</a></li><li><a href='#' id='setting-delete-radiusinst'>Delete</a></li></ul></div>",
                    "width": "1%",
                    "className": 'center',
                    "sortable": false
                }
            ],
            dom: "<'dt-toolbar'<'col-xs-12 col-sm-6'lf><'col-sm-6 col-xs-6 hidden-xs'CT>r>" +
            "t" +
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            tableTools: {
                "aButtons": [
                    {
                        "sExtends": "text",
                        "sButtonText": "Add Radius Server",
                        "fnClick": function ( nButton, oConfig, oFlash ) {
                            $('#aaa-ins-inputform').trigger('reset');
                            addradiusclientvalidator.resetForm();
                            $("#radiuserver-modal").modal('show');
                        }
                    }
                ]
            }
        });

        nasClientsTable = $('.dataTables-nasclientlist').DataTable({
            data: selectedServerNasClients,
            columns: [
                {data: 'nasid'},
                {data: 'nasname'},
                {data: 'shortname'},
                {data: 'nastype'},
                {data: 'nasport'},
                {data: 'secret'},
                {
                    "data": null,
                    "defaultContent": "<div class='btn-group'><button class='btn btn-white btn-xs dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'><i class='fa fa-gear'></i></button><ul class='dropdown-menu'><li><a href='#' id='setting-edit-nasclient'>Edit</a></li><li><a href='#' id='setting-delete-nasclient'>Delete</a></li></ul></div>",
                    "width": "1%",
                    "className": 'center',
                    "sortable": false
                }
                /*{
                 "data": null,
                 "defaultContent": "<div class='btn-group'><input type='button' class='btn btn-primary' value='Test Connection' id='test-connection'></div>",
                 "width": "1%",
                 "className": 'center',
                 "sortable": false
                 }*/
            ],
            dom: "<'dt-toolbar'<'col-xs-12 col-sm-6'lf><'col-sm-6 col-xs-6 hidden-xs'CT>r>" +
            "t" +
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
            tableTools: {
                "aButtons": [
                    {
                        "sExtends": "text",
                        "sButtonText": "Add NAS Client",
                        "fnClick": function ( nButton, oConfig, oFlash ) {
                            $('#add-nasclient-form').trigger('reset');
                            addNasClientValidator.resetForm();
                            $("#add-nasclient-modal").modal('show');
                        }
                    }
                ]
            }

        });


        var addradiusclientvalidator;
        var editNasClientValidator;
        var editradiusclientvalidator;
        var addNasClientValidator;

        addNasClientValidator = $("#add-nasclient-form").validate({
            rules: {
                inputnasip: {
                    required: true,
                    IP4Checker: true,
                    checkIpRangerExists: true
                },
                inputshortname: {
                    required: true
                },
                inputauthport: {
                    required: true,
                    number: true
                },
                inputsecret: {
                    required: true
                }
            },
            messages: {
                inputnasip: {
                    IP4Checker: "Please enter a correct IP address"
                },
                inputshortname: {
                    required: "Please enter a Short Name for Instance"
                },
                inputauthport: {
                    required: "Please enter Auth Port"
                },
                inputsecret: {
                    required: "Please enter SECRET"
                }
            }
        });

        editNasClientValidator = $("#edit-nasclient-form").validate({
            rules: {
                editshortname: {
                    required: true
                },
                editauthport: {
                    required: true,
                    number: true
                },
                editsecret: {
                    required: true
                }
            },
            messages: {
                editshortname: {
                    required: "Please enter a Short Name for Instance"
                },
                editauthport: {
                    required: "Please enter Auth Port"
                },
                editsecret: {
                    required: "Please enter SECRET"
                }
            }
        });

        addradiusclientvalidator = $("#aaa-ins-inputform").validate({
            rules: {
                servername: {
                    required: true,
                    minlength: 3,
                    maxlength: 25
                },
                serverip: {
                    required: true,
                    IP4Checker: true,
                },
                hostport: {
                    required: true,
                    number: true
                },
                hostschema: {
                    required: true
                },
                dbusername: {
                    required: true
                },
                dbuserpassword: {
                    required: true
                }
            },
            messages: {
                servername: {
                    required: "Please include server name for instance"
                },
                serverip: {
                    IP4Checker: "Please enter a correct IP address"
                },
                hostport: {
                    required: "Please enter port number"
                },
                hostschema: {
                    required: "Please enter RADIUS schema name"
                },
                dbusername: {
                    required: "Pleasse enter your DB user name"
                },
                dbuserpassword: {
                    required: "Pleasse enter DB password"
                }
            }
        });

        editradiusclientvalidator = $("#aaa-ins-editform").validate({
            rules: {
                editservename: {
                    required: true,
                    minlength: 3,
                    maxlength: 25
                },
                editserverip: {
                    required: true,
                    IP4Checker: true
                },
                edithostport: {
                    required: true,
                    number: true
                },
                edithostschema: {
                    required: true
                },
                editdbusername: {
                    required: true
                },
                editdbuserpassword: {
                    required: true
                }
            },
            messages: {
                editservername: {
                    required: "Please include server name for instance"
                },
                editserverip: {
                    IP4Checker: "Please enter a correct IP address"
                },
                edithostport: {
                    required: "Please enter port number"
                },
                edithostschema: {
                    required: "Please enter RADIUS schema name"
                },
                editdbusername: {
                    required: "Pleasse enter your DB user name"
                },
                editdbuserpassword: {
                    required: "Pleasse enter DB password"
                }
            }
        });

        $("a#alert-close").on('click', function () {
            $('.msg-getnasclients-error').hide();
        });


        $("#btn-add-radiusclient").on('click', function () {
            if ($('#aaa-ins-inputform').valid()) {
                var payload = {
                    tenantid: parseInt(Cookies.get("tenantid")),
                    dbhostname: $('#input-serverinstance-name').val(),
                    dbhostip: $('#input-hostname').val(),
                    dbschemaname: $('#input-schema').val(),
                    dbhostport: parseInt($('#input-host-port').val()),
                    dbusername: $('#input-username').val(),
                    dbpassword: $('#input-password').val()
                };
                $("#rad-config-bodymodal").loadingOverlay({
                    loadingText: 'Creating Radius Server'
                });
                $.post('/radius/server', JSON.stringify(payload), function (result) {
                    $("#radiuserver-modal").modal('hide');
                    $("#rad-config-bodymodal").loadingOverlay('remove');
                    aaaTable.ajax.reload();
                });
            }
        });

        $('.dataTables-aaalist tbody').on('click', 'tr', function () {
            $('.msg-getnasclients-error').hide();
            var instance = aaaTable.row($(this)).data();
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                aaaTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
            currentServerObject.tenantid = parseInt(Cookies.get("tenantid"));
            currentServerObject.dbhostip = instance.dbhostip;
            currentServerObject.dbhostport = instance.dbhostport;
            currentServerObject.dbschemaname = instance.dbschemaname;
            currentServerObject.dbusername = instance.dbusername;
            currentServerObject.dbpassword = instance.dbpassword;
            currentServerObject.InsId = instance.InsId

            renderNASClientTable(instance.InsId)
        });

        $("#btn-create-nasclient").on('click', function () {
            if ($('#add-nasclient-form').valid()) {
                var nasClientObject = {};
                nasClientObject.nasname = $('#nas-client-nasip').val();
                nasClientObject.shortname = $('#nas-client-shortname').val();
                nasClientObject.nastype = $('#nas-client-type').val();
                nasClientObject.nasport = parseInt($('#nas-client-authport').val());
                nasClientObject.secret = $('#nas-client-secret').val();

                var payload = {
                    dbServer: currentServerObject,
                    nasClient: nasClientObject,
                };
                $("#add-nasclient-body").loadingOverlay({
                    loadingText: 'Creating NAS Client'
                });
                $.post('/radius/server/client', JSON.stringify(payload), function (result) {
                    $("#add-nasclient-modal").modal('hide');
                    $("#add-nasclient-body").loadingOverlay('remove');
                    renderNASClientTable(currentServerObject.InsId);
                });
            }
        });

        function renderNASClientTable(instanceid) {
            $.get('/radius/'+ instanceid +'/clients' , function (data) {
                if (data != null) {
                    selectedServerNasClients = data;
                    nasClientsTable.clear();
                    nasClientsTable.rows.add(selectedServerNasClients);
                    nasClientsTable.draw();
                    $('#collapse-nasclients').collapse('show');
                } else {
                    var obj = {};
                    nasClientsTable.clear();
                    nasClientsTable.rows.add(obj);
                    nasClientsTable.draw();
                    $('.msg-getnasclients-error').show();
                    $('.msg-getnasclients-error span').html("Error occourred while getting NAS clients,Please checkout DB server IP ,Port and Credientials");
                    $('#collapse-nasclients').collapse('hide');
                }
            }).error(function (error) {

            });
        }

        var currentUpdateRow;
        var selectedRadiusInstance;

        $('.dataTables-aaalist tbody').on('click', '#setting-delete-radiusinst', function () {
            selectedRadiusInstance = aaaTable.row($(this).parents('tr')).data();
            $('#confirm-deleteradius-modal').modal()
        });

        $('#delete-radius-server').on("click", function (event) {
            $.ajax({
                url: '/radius/' + selectedRadiusInstance.InsId,
                type: 'DELETE',
                beforeSend: function () {
                    $("#deleteradius-body").loadingOverlay({
                        loadingText: 'Deleting Radius Server'
                    });
                },
                success: function (result) {
                    $("#deleteradius-body").loadingOverlay('remove');
                    $('#confirm-deleteradius-modal').modal('hide');
                    aaaTable.ajax.reload();
                },
                error: function (e) {
                }
            });
            return false;
        });

        $('.dataTables-aaalist tbody').on('click', '#setting-edit-radiusserver', function () {
            currentUpdateRow = $(this).parents('tr');
            selectedRadiusInstance = aaaTable.row($(this).parents('tr')).data();
            $('#edit-hostname').val(selectedRadiusInstance.dbhostname);
            $('#edit-hostip').val(selectedRadiusInstance.dbhostip);
            $('#edit-host-port').val(selectedRadiusInstance.dbhostport);
            $('#edit-schema').val(selectedRadiusInstance.dbschemaname);
            $('#edit-username').val(selectedRadiusInstance.dbusername);
            $('#edit-radiuserver-modal').modal('show');
        });

        $("#btn-edit-radiusserver").on("click", function (event) {
            if ($('#aaa-ins-editform').valid()) {
                var payload = {
                    InsId: selectedRadiusInstance.InsId,
                    dbhostname: $('#edit-hostname').val(),
                    dbhostip: $('#edit-hostip').val(),
                    dbschemaname: $('#edit-schema').val(),
                    dbhostport: parseInt($('#edit-host-port').val()),
                    dbusername: $('#edit-username').val(),
                    dbpassword: $('#edit-password').val()
                };
                $.ajax({
                    url: '/radius/server',
                    type: 'PUT',
                    data: JSON.stringify(payload),
                    beforeSend: function () {
                        $("#rad-editconfig-bodymodal").loadingOverlay({
                            loadingText: 'Updating Radius Server'
                        });
                    },
                    success: function () {
                        $("#rad-editconfig-bodymodal").loadingOverlay('remove');
                        $('#edit-radiuserver-modal').modal('hide');
                    },
                    error: function (e) {
                    }
                });
            }
        });

        var selectedNASClient;
        $('.dataTables-nasclientlist tbody').on('click', '#setting-edit-nasclient', function () {
            currentUpdateRow = $(this).parents('tr');
            selectedNASClient = nasClientsTable.row($(this).parents('tr')).data();
            $('#edit-nas-nasip').val(selectedNASClient.nasname);
            $('#edit-nas-shortname').val(selectedNASClient.shortname);
            $('#edit-nas-type').val(selectedNASClient.nastype);
            $('#edit-nas-authport').val(selectedNASClient.nasport);
            $('#edit-nas-secret').val(selectedNASClient.secret);
            $('#edit-nasclient-modal').modal('show');
        });

        $("#btn-update-nasclient").on("click", function (event) {
            if ($('#edit-nasclient-form').valid()) {
                var nasClientObject = {};
                nasClientObject.nasid = selectedNASClient.nasid;
                nasClientObject.nasname = $('#edit-nas-nasip').val();
                nasClientObject.shortname = $('#edit-nas-shortname').val();
                nasClientObject.nastype = $('#edit-nas-type').val();
                nasClientObject.nasport = parseInt($('#edit-nas-authport').val());
                nasClientObject.secret = $('#edit-nas-secret').val();

                var payload = {
                    dbServer: currentServerObject,
                    nasClient: nasClientObject
                };
                $.ajax({
                    url: '/radius/server/client',
                    type: 'PUT',
                    data: JSON.stringify(payload),
                    beforeSend: function () {
                        $("#edit-nasclient-body").loadingOverlay({
                            loadingText: 'Updating NAS Client'
                        });
                    },
                    success: function () {
                        $("#edit-nasclient-body").loadingOverlay('remove');
                        $('#edit-nasclient-modal').modal('hide');
                        renderNASClientTable(currentServerObject.InsId);
                    },
                    error: function (e) {
                    }
                });
            }
        });

        $('.dataTables-nasclientlist tbody').on('click', '#setting-delete-nasclient', function () {
            selectedNASClient= nasClientsTable.row($(this).parents('tr')).data();
            $('#confirm-deletenasclient-modal').modal('show')
        });

        $('#delete-nasclient').on("click", function () {
            $.ajax({
                url: '/radius/'+currentServerObject.InsId +'/'+ selectedNASClient.nasid,
                type: 'DELETE',
                beforeSend: function () {
                    $("#deletenasclient-body").loadingOverlay({
                        loadingText: 'Deleting NAS Client' + selectedNASClient.shortname
                    });
                },
                success: function () {
                    $("#deletenasclient-body").loadingOverlay('remove');
                    $('#confirm-deletenasclient-modal').modal('hide');
                    renderNASClientTable(currentServerObject.InsId);
                },
                error: function (e) {
                }
            });
            return false;
        });
    });
</script>


