<div class="modal inmodal" id="add-wifilocation-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <i class="fa fa-wifi modal-icon"></i>
                <h4 class="modal-title">Add WiFi Location</h4>
                <small class="font-bold">Specify wifi locations and map it to geo coordinates</small>
            </div>
            <div class="modal-body" id="addlocation-body">
                <form role="form" id="add-wifilocation-form">
                    <div class="form-group">
                        <label for="input-group-name">Location Group</label>
                        <select class="form-control" id="input-group-name">
                            {{#locations}}
                            <option>{{.}}</option>
                            {{/locations}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="input-mac">Mac</label>
                        <input type="text" class="form-control" id="input-mac" name="mac"
                               placeholder="MAC" required>
                    </div>
                    <div class="form-group">
                        <label for="input-apname">Access Point Name</label>
                        <input type="text" class="form-control" id="input-apname" name="apname"
                               placeholder="AP Name" required>
                    </div>
                    <div class="form-group">
                        <label for="input-ssid">SSID</label>
                        <input type="text" class="form-control" id="input-ssid" name="ssid"
                               placeholder="SSID" value="F0-B0-52-3B-3F-08" required>
                    </div>
                    <div class="form-group">
                        <label for="input-bssid">BSSID</label>
                        <input type="text" class="form-control" id="input-bssid" name="bssid"
                               placeholder="BSSID" required>
                    </div>
                    <div class="form-group">
                        <label for="input-geoaddress">Geo Location Address</label>
                        <input type="text" class="form-control" id="input-geoaddress" name="geoaddress"
                               placeholder="Geo Location Address" value="Sydney, NSW" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-add-wifilocation">Add Location</button>
            </div>
        </div>
    </div>
</div>