<div class="modal inmodal" id="update-wifilocation-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title">Update WiFi Location</h4>
            </div>
            <div class="modal-body" id="editlocation-body">
                <form role="form" id="update-wifilocation-form">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="edit-mac">Mac</label>
                                <input type="text" class="form-control" id="edit-mac" name="mac"
                                       placeholder="MAC" value="{{mac}}" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="edit-apname">APName</label>
                                <input type="text" class="form-control" id="edit-apname" name="apname"
                                       value="{{apname}}">
                            </div>
                            <div class="form-group">
                                <label for="edit-group-name">Location Group</label>
                                <select class="form-control" id="edit-group-name" required>
                                    {{#locations}}
                                    <option>{{.}}</option>
                                    {{/locations}}
                                    <option selected>{{groupname}}</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="edit-ssid">SSID</label>
                                    <input type="text" class="form-control" id="edit-ssid" name="ssid"
                                           placeholder="SSID" value="{{ssid}}" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="edit-bssid">BSSID</label>
                                    <input type="text" class="form-control" id="edit-bssid" name="bssid"
                                           placeholder="BSSID" value="{{bssid}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Geolocation Details</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="edit-address">Address</label>
                                <input type="text" class="form-control" id="edit-address" name="address"
                                       placeholder="Geo location address" value="{{address}}">
                            </div>
                            <div class="alert alert-warning fade in" id="edit-errmsg-apaddr" style="display: none">
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="edit-longitude">Longitude</label>
                                    <input type="text" class="form-control" id="edit-longitude" name="longitude"
                                           placeholder="Longitude" value="{{longitude}}">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="edit-latitude">Latitude</label>
                                    <input type="text" class="form-control" id="edit-latitude" name="latitude"
                                           placeholder="Latitude" value="{{latitude}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-update-wifilocation">Update Location</button>
            </div>
        </div>
    </div>
</div>