<div class='location-mapinfobox-container'>
    <h3>{{apname}}</h3>
    <hr/>
    <div class="mapinfobox-inside">
        <div class="row">
            <label class="col-sm-4">Mac :</label><span>{{mac}}</span>
        </div>
        <div class="row">
            <label class="col-sm-4">Address:</label><span>{{address}}</span>
        </div>
        <div class="row">
            <label class="col-sm-5">Longitude:</label><span>{{longitude}}</span>
        </div>
        <div class="row">
            <label class="col-sm-5">Latitude :</label><span>{{latitude}}</span>
        </div>
    </div>
</div>
