<div class="configuration_card" id="{{cardname}}">
    <div class="widget {{widgetbg}} front face">
        <div class="row" >
            <div class="col-xs-3 icon-content-card">
            </div>
            <div class="col-xs-9 text-right">
                <span> {{caption}} </span>
                <h2 id="value" class="font-bold">{{value}}</h2>
            </div>
        </div>
        <div class="row option-icon">
            <span ><i class="fa fa-cog" aria-hidden="true"></i></span>
        </div>
    </div>
    <div class="widget back face center">
        <div class="option-card">

        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

    });
</script>