<div class="chart-wrapper">
    <div class="chart-inner">
        <div id="daily-user-downloads-series" class="pdfChartLine" data-title="Average Daily Users Downloads Distribution" style="width:100%; height: 100%;"></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        avgDownloadsTimeSeriesData = []
        $.post('/wifi/usage/dailyavguserdownloads', JSON.stringify(payload), function (data, status) {
            var locationDist = {
                type: 'spline',
                name: window.appName,
                data: convertToHighChartSeries(data, 1048576)
            };
            avgDownloadsTimeSeriesData.push(locationDist);
            renderTimeSeries('#daily-user-downloads-series', 'Downloads', 'Downloads(MB)', avgDownloadsTimeSeriesData);
        });

        $('#time-series-avgdownloads').on('click', '#time-series-avgdownloads-compare-btn', function (e) {
            avgDownloadsTimeSeriesData = []
            $.each(window.originaldatagroups, function (i, val) {
                var payload2 = payload
                payload2.groupnames = [val]
                $.post('/wifi/usage/dailyavguserdownloads', JSON.stringify(payload2), function (data, status) {
                    var locationDist = {
                        type: 'spline',
                        name: val,
                        data: convertToHighChartSeries(data, 1048576)
                    }
                    avgDownloadsTimeSeriesData.push(locationDist);
                });
            });
            renderTimeSeries('time-series-avgdownloads', 'Average Daily User Downloads Distribution', "Downloads (MB)", avgDownloadsTimeSeriesData);
        });
    });
</script>