<div class="chart-wrapper">
    <div class="chart-inner">
        <div id="devicestat-piechart" class="pdfChartPie" data-title="Device Statistics" style="width:100%; height: 100%;"></div>
    </div>
</div>

<script>
    $(function () {
        var piechartData;
        $.post('/wifi/devices/devicestats', JSON.stringify(payload), function (data, status) {
            piechartData = getPieChartData(data);
            $('#devicestat-piechart').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                },
                title: {
                    style : {
                        display : 'none'
                    }
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '{point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: "Brands",
                    colorByPoint: true,
                    data: piechartData
                }]
            });
        });
    });
</script>