<div class="chart-wrapper">
    <div class="chart-inner">
        <div id="downloads-series" class="pdfChartLine" data-title="Total Daily Downloads Distribution" style="width:100%; height: 100%;" ></div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        downloadsTimeSeriesData = []
        $.post('/wifi/usage/dailytotaldownloads', JSON.stringify(payload), function (data, status) {
            var locationDist = {
                type: 'spline',
                name: window.appName,
                data: convertToHighChartSeries(data, 1073741824)
            };
            downloadsTimeSeriesData.push(locationDist);
            renderTimeSeries('#downloads-series', 'Downloads', 'Downloads(GB)', downloadsTimeSeriesData);
        });

        $('#time-series-downloads').on('click', '#time-series-downloads-compare-btn', function (e) {
            downloadsTimeSeriesData = []
            $.each(window.originaldatagroups, function (i, val) {
                var payload2 = payload
                payload2.groupnames = [val]
                $.post('/wifi/usage/dailytotaldownloads', JSON.stringify(payload2), function (data, status) {
                    var locationDist = {
                        type: 'spline',
                        name: val,
                        data: convertToHighChartSeries(data, 1073741824)
                    }
                    downloadsTimeSeriesData.push(locationDist);
                });
            });
            renderTimeSeries('time-series-downloads', 'Total Daily Downloads Distribution', "Downloads (GB)", downloadsTimeSeriesData);
        });
    });
</script>